/*
	Theme Name:  Legacy Cabinets 2020
	Theme URI:   https://www.ccgideas.com
	Description: Custom WordPress Theme built by Cummings Creative Group and based upon the EA Starter Theme by Bill Erickson: https://github.com/billerickson/EA-Starter
	Author:      Bill Erickson & Nathan Owens
	Author URI:  https://www.ccgideas.com
	Version:     1.0.0
	License:     GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html


	BEFORE MODIFYING THIS THEME:
	Please read the instructions here (private repo): https://github.com/billerickson/EA-Starter/wiki
	Devs, contact me if you need access
*/
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

blockquote {
  font-size: 110%;
  padding: 10px;
  background: #f3f3f3;
  font-style: italic;
}

blockquote em {
  font-style: normal;
}

blockquote > p:last-child {
  margin-bottom: 0;
}

.clear {
  clear: both;
}

.alignwide,
.alignfull {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
}

/* Gravity Forms custom classes: labels-hidden & labels-hidden-top */
.gform_wrapper .gform_fields .labels-hidden label {
  /* hides any label with the field */
  display: none !important;
}

.gform_wrapper .gform_fields .labels-hidden-top > label {
  /* only hides the field's top label */
  display: none !important;
}

.gform_wrapper .gform_fields .gfield .ginput_container input[type="text"] {
  width: 100%;
}

.gform_button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* there's also Gravity Forms classes like gf_left_half, gf_right_half, gf_left_third, gf_middle_third, gf_list_2col, gf_list_3col */
/***** General *****/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

html,
body {
  height: 100%;
  width: 100%;
}

.wrap {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1149px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1150px) {
  .container {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container--short {
    max-width: 968px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

[class^="col"] {
  padding-left: 15px;
  padding-right: 15px;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.btn-main {
  min-width: 160px;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #132A36;
  background-color: transparent;
  color: #132A36;
  display: inline-block;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  line-height: 43px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-main:hover {
  background-color: #132A36;
  color: #ffffff;
}

@media (max-width: 767px) {
  .btn-main--mobile-full-width {
    width: 100%;
  }
}

.btn-main--white {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-main--white:hover {
  background-color: #ffffff;
  color: #132A36;
}

.btn-overlay {
  width: 225px;
  height: 49px;
  line-height: 49px;
  text-align: center;
  display: inline-block;
  position: relative;
  background-color: #132A36;
  color: #ffffff;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  cursor: pointer;
}

.btn-overlay:after {
  content: "";
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  border: 2px solid #ffffff;
}

.btn-overlay:hover {
  background-color: #B38869;
}

.text-link-arrow {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  padding-right: 27px;
}

.text-link-arrow--long {
  display: inline-block;
  text-transform: none;
}

.text-link-arrow:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 20px;
  height: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/icons/arrow.svg) no-repeat 50% 100%/100% auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.text-link-arrow:hover:after {
  background-image: url(../img/icons/arrow-navy.svg);
  right: -5px;
}

@media (max-width: 1149px) {
  .row.tablet-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .row.mobile-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 479px) {
  .mobile-full-width {
    width: 100%;
    min-width: 100%;
  }
}

/***** Headlines *****/
h1 {
  letter-spacing: 0.05em;
}

h2 {
  font-family: "Work Sans", sans-serif;
}

h2,
h5 {
  font-weight: 600;
}

h4 {
  font-weight: 400;
}

h6 {
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  font-family: inherit;
}

p:not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px;
    line-height: 32px;
  }
  h2 {
    font-size: 20px;
    line-height: 24px;
  }
  h3 {
    font-size: 20px;
    line-height: 28px;
  }
  h4 {
    font-size: 17px;
    line-height: 24px;
  }
  h5 {
    font-size: 15px;
    line-height: 20px;
  }
  p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
  h3 {
    font-size: 28px;
    line-height: 40px;
  }
  h4 {
    font-size: 24px;
    line-height: 28px;
  }
  h5 {
    font-size: 20px;
    line-height: 30px;
  }
  h5.small {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
}

.headline-overlay {
  background-color: #132A36;
  color: #ffffff;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .headline-overlay {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .headline-overlay {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.headline-overlay:before {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border: 3px solid #fff;
}

/***** Text ******/
.italic {
  font-style: italic;
}

.dm-serif-text {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
}

.playfair-display {
  font-family: 'Playfair Display', serif;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
}

.text-center {
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1149px) {
  .tablet-only-center {
    text-align: center;
  }
}

.brown {
  color: #B38869;
}

.navy {
  color: #132A36;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.small {
  font-size: 12px;
}

.extra-small {
  font-size: 10px;
  line-height: 1.2;
}

.extra-small * {
  font-size: inherit;
  line-height: inherit;
}

.extra-small *:not(:last-child) {
  margin-bottom: 10px;
}

.underline-item,
.upperline-item {
  position: relative;
}

.underline-item:after,
.upperline-item:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  border-radius: 2px;
  background-color: #B38869;
}

.underline-item {
  padding-bottom: 22px;
  margin-bottom: 20px;
}

.underline-item:after {
  bottom: 0;
}

.upperline-item:after {
  top: 0;
}

@media (max-width: 1149px) {
  .underline-item:after {
    width: 52px;
  }
}

@media (max-width: 767px) {
  .upperline-item,
  .underline-item--long {
    padding-top: 20px;
  }
  .upperline-item:after,
  .underline-item--long:after {
    width: 100px;
  }
}

@media (min-width: 768px) {
  .upperline-item,
  .underline-item--long {
    padding-top: 32px;
  }
  .upperline-item:after,
  .underline-item--long:after {
    width: 200px;
  }
}

@media (min-width: 1150px) {
  .underline-item:after {
    width: 82px;
  }
  .underline-item--long:after {
    width: 200px;
  }
}

.underline-item--standart:after {
  width: 86px;
}

/***** Header *****/
.header {
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7px;
  padding-bottom: 6px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.navigation .menu > li > a {
  text-transform: uppercase;
}

.navigation li {
  list-style-type: none;
}

.navigation a {
  display: inline-block;
  line-height: 19px;
}

.navigation .sub-menu {
  top: calc(100% + 8px);
  display: none;
}

.navigation .sub-menu a {
  text-transform: none;
}

.nav-brands {
  text-align: center;
  padding-top: 20px;
  display: none;
}

.nav-brands__headline {
  font-family: "DM Serif Text", serif;
  letter-spacing: 0.05em;
  color: #B38869;
  position: relative;
  padding-bottom: 8px;
}

.nav-brands__headline:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -100px;
  width: 200px;
  height: 2px;
  background-color: #B38869;
  border-radius: 2px;
  display: inline-block;
}

.nav-brands__row {
  margin-top: 17px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-brands__list {
  text-align: left;
}

.brand-link {
  position: relative;
}

.brand-link__front, .brand-link__hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.brand-link:hover .brand-link__front {
  opacity: 0;
}

.brand-link:hover .brand-link__hover {
  opacity: 1;
}

.brand-link__hover {
  opacity: 0;
  position: absolute;
  left: 0;
}

@media (max-width: 1149px) {
  .header__container {
    max-width: 100%;
  }
  .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #F9F5F3;
    top: 100%;
    right: 0;
    border-top: 4px solid #B38869;
  }
  .navigation .menu > li > a {
    padding-left: 32px;
  }
  .navigation .menu li {
    border-top: 1px solid #E3C7B3;
  }
  .navigation .menu li.has-children > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation .menu li.has-children > a:after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background: url(../img/icons/dropdown.svg) no-repeat 50% 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navigation .menu li.sub-menu-opened > a {
    background-color: #132A36;
    color: #ffffff;
  }
  .navigation .menu li.sub-menu-opened > a:after {
    background-image: url(../img/icons/dropdown-white.svg);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .navigation .menu a:not(.text-link-arrow) {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
  }
  .navigation .sub-menu {
    background-color: #ffffff;
  }
  .navigation .sub-menu a {
    padding-left: 52px;
    padding-right: 20px;
  }
  .navigation .nav-brands li {
    border-top: 0;
  }
  .nav-brands {
    padding-bottom: 20px;
    background-color: #ffffff;
  }
  .nav-brands__headline {
    font-size: 24px;
  }
  .nav-brands__main-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-brands__list img {
    height: 36px;
    width: auto;
  }
  .nav-brands__bottom {
    text-align: left;
    line-height: 22px;
  }
  .nav-brands__col {
    padding-left: 30px;
    padding-right: 30px;
  }
  .nav-brands__col:first-child {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E3C7B3;
  }
  .nav-brands__img {
    padding-top: 5px;
  }
  .menu-btn {
    position: relative;
    width: 25px;
    height: 16px;
    display: inline-block;
    margin-left: 20px;
  }
  .menu-btn__line, .menu-btn__line:before, .menu-btn__line:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #B38869;
    display: inline-block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-btn__line {
    top: 50%;
    margin-top: -1px;
  }
  .menu-btn__line:before, .menu-btn__line:after {
    content: "";
    z-index: 2;
  }
  .menu-btn__line:before {
    top: -7px;
  }
  .menu-btn__line:after {
    bottom: -7px;
  }
  .navigation-opened .menu-btn__line {
    background-color: transparent;
  }
  .navigation-opened .menu-btn__line:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
  }
  .navigation-opened .menu-btn__line:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 0;
  }
  .user {
    height: 20px;
  }
  .user svg {
    width: 20px;
    height: 20px;
  }
  .user__text {
    display: none;
  }
}

@media (max-width: 767px) {
  .wrap {
    padding-top: 58px;
  }
  .header__container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navigation .menu > li > a {
    padding-right: 20px;
  }
  .logo {
    width: 163px;
  }
}

@media (min-width: 768px) {
  .wrap {
    padding-top: 80px;
  }
  .logo img {
    width: 250px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header--scrolled .logo img {
    width: 206px;
  }
  .nav-brands {
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .header__container {
    padding-left: 35px;
    padding-right: 35px;
  }
  .navigation {
    max-width: 338px;
  }
  .navigation .menu > li > a {
    padding-right: 30px;
  }
}

@media (min-width: 1150px) {
  .menu-btn {
    display: none;
  }
  .navigation {
    height: 100%;
  }
  .navigation .menu,
  .navigation .menu > li {
    height: 100%;
  }
  .navigation .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation .menu > li {
    position: relative;
  }
  .navigation .menu > li.nav-brands-wrap {
    position: static;
  }
  .navigation .menu > li + li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 1px;
    height: 19px;
    background-color: #B38869;
  }
  .navigation .menu > li > a {
    position: relative;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation .menu > li > a:before, .navigation .menu > li > a:after {
    content: "";
    position: absolute;
    width: 100%;
  }
  .navigation .menu > li > a:before {
    left: 50%;
    bottom: -8px;
    height: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #B38869;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navigation .menu > li > a:after {
    bottom: -9px;
    height: 9px;
  }
  .navigation .menu > li > a:hover:before {
    height: 4px;
  }
  .navigation .menu > li.active > a {
    font-weight: 700;
  }
  .navigation .menu > li.active > a:before {
    height: 4px;
  }
  .navigation .menu > li.sub-menu-opened a:before {
    height: 4px;
    width: 178px;
  }
  .navigation .sub-menu {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 160px;
    background-color: #F9F5F3;
  }
  .navigation .sub-menu li + li {
    border-top: 1px solid #B38869;
  }
  .navigation .sub-menu a {
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 30px;
  }
  .nav-brands {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100vw;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #F9F5F3;
    -webkit-box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.25), 3px 3px 8px rgba(0, 0, 0, 0.25);
            box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.25), 3px 3px 8px rgba(0, 0, 0, 0.25);
  }
  .nav-brands__list {
    padding-right: 40px;
  }
  .nav-brands__list li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .nav-brands__list img {
    height: 33px;
    width: auto;
  }
  .nav-brands__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-brands__col:first-child {
    max-width: calc(50% - 35px);
    border-right: 1px solid #E3C7B3;
  }
  .user {
    position: absolute;
    top: 100%;
    right: -70px;
  }
  .user__btn {
    width: 190px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #132A36;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
  }
  .user__btn:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 50vw;
    background-color: #132A36;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .user__btn path {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .user__btn:hover {
    background-color: #B38869;
  }
  .user__btn:hover:after {
    background-color: #B38869;
  }
  .user__btn:hover path {
    fill: #ffffff;
  }
  .user__text {
    padding-left: 10px;
  }
}

/***** banner *****/
.banner {
  position: relative;
}

.banner:not(.banner--home) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__img img {
  width: 100%;
  height: 100%;
  max-width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner__content {
  position: relative;
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: rgba(255, 255, 255, 0.8);
}

.banner__content:before {
  content: "";
  position: absolute;
  top: 6px;
  bottom: 6px;
  border-top: 3px solid;
  border-bottom: 3px solid;
}

.banner__content:hover .text-link-arrow:after {
  background-image: url(../img/icons/arrow-navy.svg);
  right: -5px;
}

.banner__content:focus {
  outline: transparent !important;
}

.banner__emblem {
  position: relative;
}

.banner__headline {
  margin-top: 20px;
  line-height: 24px;
}

.banner .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .home-slider,
.banner .slick-list,
.banner .slick-track {
  height: 100%;
}

.banner .slick-dots {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.banner .slick-dots li {
  padding-left: 4px;
  padding-right: 4px;
}

.banner .slick-dots li.slick-active button {
  background-color: #ffffff;
}

.banner .slick-dots button {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  text-indent: -99999px;
}

@media (max-width: 767px) {
  .banner {
    height: 275px;
  }
  .banner--home {
    height: auto;
  }
  .banner__img {
    width: 100%;
    height: 275px;
  }
  .banner__content {
    margin-top: -6px;
    padding-left: 33px;
    padding-right: 33px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .banner__content:before {
    left: 0;
    right: 0;
  }
  .banner__emblem {
    height: 161px;
    width: auto;
    position: absolute;
    right: 50%;
    bottom: 50%;
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
  .banner .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner .slick-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .banner .slick-dots {
    top: 235px;
  }
}

@media (min-width: 768px) {
  .banner__img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .banner__content {
    width: 444px;
    padding-left: 66px;
    padding-right: 52px;
  }
  .banner__content:before {
    left: 6px;
    right: 0;
    border-left: 3px solid;
  }
  .banner__emblem {
    margin-bottom: 52px;
  }
  .banner .slick-slide {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .banner .slick-dots {
    bottom: 9px;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .banner {
    height: 450px;
  }
}

@media (min-width: 1150px) {
  .banner {
    height: 510px;
  }
}

.banner__content--presidential:before {
  border-color: #537EC0;
}

.banner__content--modena:before {
  border-color: #8E66BC;
}

.banner__content--debut:before {
  border-color: #F9B25D;
}

/***** top-page/bottom-page *****/
.top-page {
  position: relative;
  background-color: #F9F5F3;
}

.top-page--dark {
  background-color: #132A36;
  color: #ffffff;
}

.top-page:after {
  bottom: 7px;
}

.top-page h2,
.top-page h5 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}

.bottom-page {
  position: relative;
}

.bottom-page:after {
  top: 7px;
}

.bottom-page__headline {
  max-width: 610px;
  display: inline-block;
}

.top-page:after,
.bottom-page:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #ffffff;
}

.top-page--no-line:after,
.bottom-page--no-line:after {
  display: none;
}

@media (max-width: 767px) {
  .top-page {
    padding-top: 20px;
    padding-bottom: 35px;
  }
  .top-page h2 {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .top-page p {
    line-height: 22px;
  }
  .bottom-page {
    padding-top: 34px;
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .top-page h2 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .bottom-page {
    padding-top: 74px;
  }
  .bottom-page__headline {
    padding-bottom: 58px;
    margin-bottom: 41px;
  }
  .bottom-page__btn {
    margin-top: 21px;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .top-page {
    padding-top: 44px;
    padding-bottom: 34px;
  }
  .bottom-page {
    padding-bottom: 62px;
  }
}

@media (min-width: 1150px) {
  .top-page {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .top-page--no-line {
    padding-top: 50px;
    padding-bottom: 28px;
  }
  .top-page p {
    max-width: 941px;
    display: inline-block;
  }
  .bottom-page {
    padding-bottom: 92px;
  }
}

/***** brands *****/
.brands__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 560px) {
  .brands {
    padding: 10px 30px;
  }
  .brands__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .brands__col {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .brands__col:nth-child(2n) {
    width: 40%;
  }
  .brands__col:nth-child(2n +1) {
    width: 60%;
  }
  .brands img {
    height: 35px;
    width: auto;
    max-width: inherit;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .brands {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .brands__container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1150px) {
  .brands {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/***** Content *****/
.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.js-dropdown {
  position: relative;
}

.js-dropdown:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  right: 0;
  height: 9px;
  background-color: #E3C7B3;
  z-index: 2;
}

.js-dropdown__btn {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #132A36 url(../img/icons/dropdown-white.svg) no-repeat 50% 50%;
  z-index: 2;
}

.opened .js-dropdown__btn {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
}

.js-dropdown__content {
  display: none;
  background-color: #ffffff;
}

.plus-list {
  list-style-type: none;
  font-size: 16px;
  line-height: 22px;
}

.plus-list li {
  position: relative;
}

.plus-list li:before {
  content: "+";
  font-weight: 600;
  color: #B38869;
  position: absolute;
  left: 0;
  font-size: 23px;
  line-height: 22px;
}

.plus-list li + li {
  margin-top: 15px;
}

@media (max-width: 767px) {
  .plus-list li {
    padding-left: 20px;
  }
}

@media (min-width: 768px) {
  .plus-list li {
    padding-left: 35px;
  }
}

/* article */
.article {
  display: inline-block;
  width: 100%;
}

.article .quote {
  background-color: #F9F5F3;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.article .quote h1, .article .quote h2, .article .quote h3 {
  color: #B38869;
  font-weight: 600;
  margin-bottom: 5px;
}

.article a {
  display: inline-block;
  background-color: #F9F5F3;
  color: #132A36;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 700;
}

.article a:hover {
  background-color: #132A36;
  color: #ffffff;
}

.article ul {
  list-style: none;
  margin-left: 44px;
  margin-right: 44px;
  font-size: 16px;
  line-height: 26px;
}

.article ul li:before {
  content: "\2022";
  color: #B38869;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-bottom: 15px;
}

@media (max-width: 1149px) {
  .article {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .article .quote {
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px 30px;
  }
}

@media (max-width: 767px) {
  .article .quote h1, .article .quote h2, .article .quote h3 {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (min-width: 1150px) {
  .article {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .article .quote {
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px 50px;
  }
  .article .quote h1, .article .quote h2, .article .quote h3 {
    font-size: 24px;
    line-height: 26px;
  }
  .article .list-short {
    max-width: 212px;
  }
}

/* cabinet-style */
.cabinet-style {
  position: relative;
  background-color: #132A36;
  color: #ffffff;
}

.cabinet-style:after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #ffffff;
}

.cabinet-style__container {
  max-width: 900px;
}

.cabinet-style__or {
  position: relative;
  border-radius: 50%;
  background-color: #B38869;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cabinet-style__or:before, .cabinet-style__or:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  border-radius: 2px;
  background-color: #c4c4c4;
}

.cabinet-style__img {
  margin-bottom: 20px;
}

.cabinet-style__item {
  position: relative;
  cursor: pointer;
}

.cabinet-style__info {
  position: relative;
  background-color: #F9F5F3;
  color: #000;
  text-align: left;
  border-radius: 3px;
  cursor: inherit;
}

.cabinet-style__info-wrap {
  position: absolute;
  z-index: 2;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cabinet-style__info-wrap:after {
  content: "";
  position: absolute;
  background-color: #B38869;
  border-radius: 2px;
}

.cabinet-style__info:before {
  content: "";
  width: 30px;
  height: 2px;
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 2px;
  background-color: #000;
}

.cabinet-style__info-close {
  position: absolute;
  right: 20px;
  top: 20px;
}

@media (max-width: 1149px) {
  .cabinet-style__or {
    width: 64px;
    height: 64px;
    font-size: 24px;
  }
  .cabinet-style__or:before, .cabinet-style__or:after {
    width: 15px;
  }
  .cabinet-style__or:before {
    right: calc(100% + 10px);
  }
  .cabinet-style__or:after {
    left: calc(100% + 10px);
  }
}

@media (max-width: 767px) {
  .cabinet-style {
    padding-top: 17px;
    padding-bottom: 35px;
  }
  .cabinet-style__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cabinet-style__or {
    margin-top: 33px;
    margin-bottom: 44px;
  }
  .cabinet-style__info {
    padding: 30px;
    width: 280px;
  }
  .cabinet-style__info-wrap {
    width: 290px;
    left: 50%;
    margin-left: -145px;
    padding-left: 5px;
    padding-right: 5px;
    height: 0;
  }
  .cabinet-style__info-wrap--left {
    top: calc(100% + 30px);
  }
  .cabinet-style__info-wrap--left:after {
    top: 0;
  }
  .cabinet-style__info-wrap--right {
    bottom: calc(100% + 30px);
  }
  .cabinet-style__info-wrap--right:after {
    bottom: 0;
  }
  .cabinet-style__info-wrap:after {
    left: 0;
    right: 0;
    height: 5px;
  }
}

@media (min-width: 768px) {
  .cabinet-style {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 57px;
  }
  .cabinet-style__info-wrap {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 0;
    padding: 5px 0;
  }
  .cabinet-style__info-wrap:after {
    top: 0;
    bottom: 0;
    width: 4px;
  }
  .cabinet-style__info-wrap--right:after {
    right: 0;
  }
  .cabinet-style__info-wrap--left:after {
    left: 0;
  }
  .cabinet-style__row {
    margin-top: 34px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .cabinet-style__info {
    padding: 30px;
    width: 65vw;
  }
  .cabinet-style__info-wrap.show {
    width: 65vw;
  }
  .cabinet-style__info-wrap--left {
    left: 100%;
  }
  .cabinet-style__info-wrap--right {
    right: 100%;
  }
}

@media (min-width: 992px) {
  .cabinet-style__info {
    width: 558px;
    padding: 38px 60px;
  }
  .cabinet-style__info-wrap.show {
    width: 558px;
  }
  .cabinet-style__info-wrap--left {
    left: calc(100% + 80px);
  }
  .cabinet-style__info-wrap--right {
    right: calc(100% + 100px);
  }
}

@media (min-width: 1150px) {
  .cabinet-style__or {
    width: 104px;
    height: 104px;
    font-size: 40px;
  }
  .cabinet-style__or:before, .cabinet-style__or:after {
    width: 24px;
  }
  .cabinet-style__or:before {
    right: calc(100% + 20px);
  }
  .cabinet-style__or:after {
    left: calc(100% + 20px);
  }
}

/* .brands-detail */
.brands-detail__item {
  height: 100%;
  width: 100%;
  padding-top: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 2;
}

.brands-detail__icon {
  text-align: center;
}

.brands-detail__drop-content {
  padding-top: 47px;
}

.brands-detail__btn {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.brands-detail__dol {
  color: #B38869;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.brands-detail__dol:after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 2px;
  background-color: #B38869;
  border-radius: 2px;
  display: inline-block;
}

.brands-detail__level {
  display: inline-block;
  padding-right: 10px;
}

.brands-detail__text {
  font-weight: 500;
}

@media (max-width: 1149px) {
  .brands-detail__text {
    padding-bottom: 40px;
  }
  .brands-detail__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brands-detail__dropdown {
    position: relative;
  }
}

@media (max-width: 767px) {
  .brands-detail {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .brands-detail__item {
    padding-left: 15px;
    padding-right: 15px;
  }
  .brands-detail__dropdown:before {
    left: -15px;
    right: -15px;
  }
  .brands-detail__col + .brands-detail__col {
    margin-top: 50px;
  }
}

@media (min-width: 768px) {
  .brands-detail__item {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .brands-detail {
    padding-top: 37px;
    padding-bottom: 16px;
  }
  .brands-detail__container {
    width: 513px;
  }
  .brands-detail__col + .brands-detail__col {
    margin-top: 60px;
  }
  .brands-detail__dropdown:before {
    left: -20px;
    right: -20px;
  }
}

@media (min-width: 1150px) {
  .brands-detail {
    padding-top: 62px;
  }
  .brands-detail__item {
    padding-top: 30px;
  }
  .brands-detail__text {
    padding-bottom: 60px;
  }
  .brands-detail__dropdown {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .brands-detail__drop-content {
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 35px;
    padding-right: 35px;
    -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
  }
}

/* text-section, text-image-section */
.text-section__underline {
  margin-top: 30px;
  font-family: "Work Sans", sans-serif;
}

.text-image-section .underline-item {
  font-weight: 400;
}

.gallery-preview {
  position: relative;
}

.gallery-preview__text {
  position: absolute;
  background-color: #F9F5F3;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
}

.gallery-preview p {
  line-height: 20px;
  letter-spacing: 0.05em;
}

.calculator-preview__icon {
  width: 109px;
  height: 109px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #F9F5F3;
}

.calculator-preview__headline {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.02em;
}

.calculator-preview__headline:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #B38869;
}

@media (max-width: 1149px) {
  .text-image-section {
    padding-top: 44px;
    padding-bottom: 56px;
  }
  .text-image-section__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .text-section {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .text-section__underline {
    margin-top: 17px;
    padding-top: 19px;
    padding-bottom: 0;
    margin-bottom: 15px;
  }
  .text-section__underline:after {
    top: 0;
    bottom: auto;
  }
  .text-image-section .underline-item {
    margin-top: 10px;
  }
  .gallery-preview {
    margin-top: 37px;
    padding-bottom: 35px;
  }
  .gallery-preview__text {
    bottom: 0;
    padding: 19px 25px;
    left: 50%;
    width: 208px;
    margin-left: -104px;
  }
  .gallery-preview__headline {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
  }
  .gallery-preview p {
    margin-bottom: 20px;
  }
  .calculator-preview {
    margin-top: 20px;
  }
  .calculator-preview__headline {
    padding-bottom: 13px;
    margin-bottom: 13px;
  }
  .calculator-preview__headline:after {
    left: 20px;
    right: 20px;
  }
}

@media (min-width: 768px) {
  .text-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .text-image-section__row {
    margin-top: 35px;
  }
  .gallery-preview {
    padding-right: 63px;
  }
  .gallery-preview__text {
    width: 298px;
    height: 299px;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 45px 60px;
  }
  .gallery-preview__headline {
    margin-bottom: 14px;
  }
  .calculator-preview__headline {
    padding: 0 17px 17px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .calculator-preview__headline:after {
    left: 0;
    right: 0;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .gallery-preview {
    max-width: 676px;
    padding-left: 63px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 71px;
  }
  .calculator-preview {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1150px) {
  .text-image-section {
    padding-top: 86px;
    padding-bottom: 74px;
  }
  .text-image-section__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-image-section .text-col {
    min-width: 40%;
  }
  .text-image-section .image-col {
    min-width: 60%;
  }
  .calculator-preview {
    padding-right: 30px;
  }
}

/* custom table, cahrt-wrap */
.chart-wrap--border-top {
  border-top: 1px solid #B38869;
}

.custom-table table {
  border-collapse: collapse;
}

.custom-table table th, .custom-table table td {
  padding: 10px 20px;
}

.custom-table table th {
  height: 50px;
  background-color: #132A36;
  border: 1px solid #132A36;
  color: #ffffff;
  text-align: left;
}

.custom-table table td {
  border: 1px solid #B38869;
  height: 50px;
}

.custom-table table td:first-child {
  white-space: nowrap;
  font-weight: 600;
}

.custom-table table td:not(:first-child) {
  font-size: 12px;
  line-height: 16px;
}

@media (max-width: 1149px) {
  .custom-table {
    overflow-x: auto;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .custom-table table {
    width: 1050px;
  }
}

@media (max-width: 767px) {
  .chart-wrap {
    padding-top: 20x;
    padding-bottom: 33px;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .chart-wrap {
    padding-top: 20x;
    padding-bottom: 33px;
  }
}

@media (min-width: 1150px) {
  .chart-wrap {
    padding-top: 44px;
    padding-bottom: 50px;
  }
}

/* general-list */
.general-list__item {
  display: inline-block;
  width: 100%;
}

.general-list__item + .general-list__item {
  border-top: 1px solid #E3C7B3;
}

.general-list h4 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
}

.general-list strong {
  font-weight: 600;
}

@media (max-width: 767px) {
  .general-list__item {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
  }
  .general-list__img {
    margin-bottom: 17px;
  }
}

@media (min-width: 768px) {
  .general-list__img {
    float: left;
    margin-right: 50px;
  }
  .general-list__item:nth-child(2n) .general-list__img {
    float: right;
    margin-right: 0;
    margin-left: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .general-list__img {
    margin-right: 30px;
  }
  .general-list__img--long {
    width: 100%;
    text-align: center;
    margin-bottom: 17px;
  }
  .general-list__item {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .general-list__item:nth-child(2n) .general-list__img {
    margin-left: 20px;
  }
}

@media (min-width: 1150px) {
  .general-list__item {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/* accordion, total, budget */
.accordion {
  padding-top: 44px;
  padding-bottom: 58px;
}

.accordion--sub {
  padding-top: 0;
  padding-bottom: 0;
}

.accordion--sub .accordion__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
}

.accordion--sub .accordion__item {
  margin-bottom: 0;
}

.accordion--sub .accordion__item:not(:last-child) {
  border-bottom: 1px solid #B38869;
}

.accordion--sub .accordion__item.opened > .accordion__btn {
  background-color: transparent;
  color: #132A36;
}

.accordion--sub .accordion__item.opened > .accordion__btn:after {
  background-image: url(../img/icons/dropdown.svg);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion__item {
  margin-bottom: 8px;
}

.accordion__item.opened > .accordion__btn {
  background-color: #132A36;
  color: #ffffff;
}

.accordion__item.opened > .accordion__btn:after {
  background-image: url(../img/icons/dropdown-white.svg);
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.accordion__btn {
  position: relative;
  background-color: #F9F5F3;
  padding-top: 13px;
  padding-bottom: 13px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.accordion__btn:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background: url(../img/icons/dropdown.svg) no-repeat 50% 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.accordion__btn h5 {
  font-family: "Montserrat", sans-serif;
}

.accordion__content {
  display: none;
}

.accordion__percents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordion__percents-item {
  height: 33px;
  background: #F9F5F3;
  line-height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion__percents-item:first-child:not(:last-child) {
  width: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accordion__percents-item:last-child {
  width: 150px;
  padding-left: 32px;
}

.total__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 17px;
}

.total__brands [class^=col] {
  margin-top: 10px;
  margin-bottom: 10px;
}

.total .accordion__percents-item {
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.budget__item {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.budget__item:not(:first-child) {
  border-top: 2px solid #B38869;
}

.budget__or {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #B38869;
  color: #fff;
  font-family: "DM Serif Text", serif;
  text-align: center;
  line-height: 52px;
  font-size: 18px;
  letter-spacing: 0.09em;
  font-style: italic;
}

.budget__list-select {
  width: 232px;
}

.budget__field {
  width: 180px;
  height: 30px;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.budget__field:not(.custom-select):after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  background: url(../img/icons/dropdown.svg) no-repeat 50% 50%;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.budget__field input {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none !important;
  border-bottom: 3px solid rgba(123, 123, 123, 0.32);
  padding-left: 15px;
  padding-right: 30px;
  font-family: inherit;
  font-weight: 600;
}

.budget__field .custom-select__value {
  text-align: left;
  padding-left: 15px;
}

.budget__result {
  width: 180px;
  height: 30px;
  padding-left: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F9F5F3;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.budget__renovation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.budget__renovation + .budget__renovation {
  margin-top: 30px;
}

.budget__renovation h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1149px) {
  .accordion--sub,
  .accordion .budget {
    margin-top: -10px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
  }
  .accordion__btn {
    padding-right: 50px;
    padding-left: 20px;
  }
  .accordion__btn:after {
    right: 20px;
  }
  .accordion__content {
    padding: 10px 20px;
  }
  .total {
    text-align: center;
  }
  .total__brands .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .total__counters {
    text-align: left;
  }
  .budget__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .accordion {
    margin-left: -20px;
    margin-right: -20px;
  }
  .accordion--sub .accordion__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .accordion--sub .accordion__btn:after {
    top: 25px;
  }
  .accordion--calculator h5 {
    font-size: 17px;
  }
  .accordion__btn h5 {
    line-height: 20px;
  }
  .accordion__percents {
    margin-right: -30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 13px;
  }
  .total__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .total .accordion__percents {
    margin-top: 8px;
    margin-right: 0;
  }
  .budget__row .col.one-third {
    text-align: center;
  }
  .budget__item {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .budget__item:nth-child(2) {
    padding-bottom: 50px;
  }
  .budget__item:nth-child(3) {
    padding-top: 50px;
  }
  .budget__renovation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .budget__renovation:last-child {
    margin-bottom: 23px;
  }
  .budget__list {
    text-align: center;
    margin-bottom: 23px;
  }
  .budget__list-select {
    margin-left: auto;
    margin-right: auto;
  }
  .budget__field input {
    font-size: 17px;
  }
  .budget__result {
    padding-right: 17px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .budget h4 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 14px;
  }
}

@media (min-width: 768px) {
  .accordion--sub .accordion__btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .accordion__btn h5 {
    line-height: 1.2;
  }
  .accordion__percents {
    margin-top: -5px;
    margin-bottom: -5px;
  }
  .total__item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .budget__field input {
    font-size: 20px;
  }
  .budget__renovation h4 {
    text-align: right;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .accordion__percents {
    min-width: 55%;
  }
  .accordion__percents-item {
    margin-left: 10px;
    margin-right: 10px;
  }
  .total__counters {
    margin-bottom: 23px;
  }
  .total .accordion__percents {
    min-width: 30%;
  }
  .budget__item {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .budget__item:nth-child(2) {
    padding-bottom: 50px;
  }
  .budget__item:nth-child(3) {
    padding-top: 50px;
  }
  .budget__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 16px;
  }
  .budget__renovation:last-child {
    margin-bottom: 16px;
  }
  .budget__renovation h4 {
    padding-right: 70px;
  }
}

@media (min-width: 1150px) {
  .accordion--sub,
  .accordion .budget {
    margin-top: -20px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -28px;
  }
  .accordion__btn {
    padding-right: 60px;
    padding-left: 30px;
  }
  .accordion__btn:after {
    right: 30px;
  }
  .accordion__content {
    padding: 20px 30px;
  }
  .accordion__percents {
    min-width: 50%;
  }
  .accordion__percents-item {
    margin-left: 30px;
    margin-right: 30px;
  }
  .total__counters {
    margin-bottom: 38px;
  }
  .total__brands {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .total .accordion__percents-item {
    margin-left: 15px;
  }
  .one-third {
    min-width: 30%;
    max-width: 30%;
  }
  .budget__item {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .budget__item:nth-child(2) {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .budget__list-select {
    margin-top: 5px;
  }
  .budget__renovation h4 {
    padding-right: 15px;
  }
}

/* contact */
.contact-head {
  text-align: center;
}

.contact-head__headline {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-head h2 {
  margin-bottom: 0;
}

.contact-form {
  position: relative;
  padding-top: 45px;
  padding-bottom: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 7px;
  height: 3px;
  background-color: #fff;
}

.contact-form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form__info-item {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  margin-bottom: 30px;
}

.contact-form__info-item .small {
  display: block;
  margin-bottom: 5px;
}

.contact-form__info-icon {
  margin-right: 25px;
  width: 40px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.contact-form__row {
  margin-bottom: 13px;
}

.contact-form input:not([type='submit']):not([type='file']),
.contact-form textarea,
.contact-form select {
  background-color: #ffffff;
  border-top: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  border-bottom: 2px solid #B38869;
  color: #132A36;
}

.contact-form input:not([type='submit']):not([type='file'])::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder,
.contact-form select::-webkit-input-placeholder {
  opacity: 1;
  color: #132A36;
}

.contact-form input:not([type='submit']):not([type='file'])::-moz-placeholder,
.contact-form textarea::-moz-placeholder,
.contact-form select::-moz-placeholder {
  opacity: 1;
  color: #132A36;
}

.contact-form input:not([type='submit']):not([type='file']):-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder,
.contact-form select:-ms-input-placeholder {
  opacity: 1;
  color: #132A36;
}

.contact-form input:not([type='submit']),
.contact-form .contact-form__file,
.contact-form textarea,
.contact-form select {
  width: 100%;
  border-radius: 5px 5px 0 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.contact-form input:not([type='submit']):not([type='upload']),
.contact-form .contact-form__file,
.contact-form select {
  height: 45px;
}

.contact-form .contact-form__file {
  position: relative;
  background-color: #132A36;
  background-image: url(../img/icons/upload.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  color: #ffffff;
}

.contact-form .contact-form__file input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 45px;
  opacity: 0;
  cursor: pointer;
}

.contact-form .contact-form__file label {
  width: 100%;
  padding-right: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 45px;
}

.contact-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../img/icons/select.svg);
  background-repeat: no-repeat;
  background-position: 96% 50%;
}

.contact-form textarea {
  resize: none;
  height: 165px;
  padding-top: 13px;
  padding-bottom: 13px;
}

@media (max-width: 1149px) {
  .contact-head {
    padding-bottom: 5px;
  }
  .contact-form__main-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-form__form {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .contact-head__headline {
    max-width: 244px;
  }
  .contact-form {
    padding-left: 30px;
    padding-right: 30px;
  }
  .contact-form__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-form__row .col {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .contact-form__row .col + .col {
    margin-top: 13px;
  }
  .contact-form__form {
    margin-top: 30px;
  }
  .contact-form__btn-wrap {
    text-align: center;
  }
  .contact-form__info h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .contact-form input:not([type='submit']),
  .contact-form .contact-form__file,
  .contact-form textarea,
  .contact-form select {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .contact-head__headline {
    max-width: 609px;
    margin-bottom: -20px;
  }
  .contact-form__btn-wrap {
    text-align: right;
  }
  .contact-form__row .col + .col {
    max-width: 50%;
  }
  .contact-form input:not([type='submit']),
  .contact-form .contact-form__file,
  .contact-form textarea,
  .contact-form select {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .contact-head__container {
    max-width: 609px;
  }
  .contact-form__form {
    margin-top: 55px;
  }
  .contact-form__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  .contact-form__info > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .contact-form__info-item {
    padding-left: 40px;
  }
}

@media (min-width: 1150px) {
  .contact-head {
    padding-bottom: 30px;
  }
  .contact-form__info {
    max-width: 291px;
  }
  .contact-form__info h2 {
    margin-bottom: 50px;
  }
}

/***** locates, custom-select, map *****/
.locates {
  padding-top: 50px;
  padding-bottom: 57px;
  position: relative;
  z-index: 2;
}

.locates-head-container {
  max-width: 570px;
}

.locates__list {
  width: 205px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.locates__state-address {
  position: relative;
}

.locates__loader {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
}

.locates__loader img {
  position: absolute;
  left: 50%;
  top: calc(50% - 30px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.custom-select {
  position: relative;
}

.custom-select__drop {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(249, 245, 243, 0.85);
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
  display: none;
  list-style: none;
  white-space: nowrap;
  z-index: 5;
}

.custom-select__btn {
  text-align: center;
  width: 100%;
  line-height: 1.5;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 600;
  font-size: 20px;
}

.custom-select__btn:hover {
  color: #B38869;
}

.custom-select__value {
  width: 100%;
  height: 30px;
  padding-right: 45px;
  border: none;
  border-bottom: 3px solid rgba(123, 123, 123, 0.32);
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  color: #132A36;
  text-align: center;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}

.custom-select__value:after {
  content: "";
  position: absolute;
  top: 0;
  right: 10px;
  width: 30px;
  height: 30px;
  background: url(../img/icons/dropdown.svg) no-repeat 50% 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.active .custom-select__value:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.map-legend {
  margin-top: 30px;
  display: inline-block;
}

.map-legend__item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
}

.map-legend__item img {
  position: relative;
  top: 2px;
}

.map-legend__icon {
  margin-right: 10px;
}

.js-select-content:not(:first-child) {
  display: none;
}

@media (max-width: 1149px) {
  .locates__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .locates-list {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }
  .locates__map {
    margin-top: 10px;
    text-align: center;
  }
  .map-wrap {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .custom-select {
    width: 100%;
  }
  .custom-select__btn, .custom-select__value {
    font-size: 17px;
  }
  .custom-select.locates__list {
    width: 175px;
  }
  .map-legend {
    text-align: left;
  }
}

@media (max-width: 479px) {
  .map-wrap {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media (max-width: 320px) {
  .custom-select__value {
    padding-right: 22px;
  }
  .custom-select__value:after {
    right: 0;
  }
}

@media (min-width: 768px) {
  .map-legend {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .locates__btn {
    max-width: 160px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .locates__state-address .contact-form__info-item {
    width: 50%;
    float: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1150px) {
  .locates__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .locates__info {
    padding-top: 50px;
  }
}

/***** brand, resources, portfolio ******/
.brand__select {
  margin-top: 8px;
}

.brand__select .custom-select__value {
  color: #B38869;
  font-weight: 700;
  border-color: rgba(227, 199, 179, 0.5);
}

.brand__img img {
  width: auto;
}

.brand .accordion__content {
  padding-bottom: 0;
}

.accordion .resources {
  margin-top: 20px;
}

.resources__row + .resources__row {
  border-top: 2px solid #E3C7B3;
}

.accordion .resources__row:first-child {
  border-top: 2px solid #E3C7B3;
}

.resources__item {
  padding-left: 5px;
  padding-right: 5px;
  width: 33.3333%;
  max-width: 74px;
  min-width: 74px;
  text-align: center;
}

.resources__icon {
  width: 63px;
  height: 62px;
  margin-bottom: 7px;
  background-color: #c4c4c4;
}

.resources__icon img {
  width: 100%;
  height: 100%;
  max-width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.resources__icon:hover img {
  -webkit-transform: scale(2.8);
          transform: scale(2.8);
}

.resources .row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.resources .col {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resources p:not(:last-child) {
  margin-bottom: 15px;
}

.portfolio {
  margin-bottom: 10px;
  position: relative;
}

.portfolio-slider {
  z-index: 3;
}

.portfolio__item {
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.slick-center .portfolio__item {
  padding-top: 0;
  padding-bottom: 0;
}

.portfolio__item img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.portfolio__item p {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slick-center .portfolio__item p {
  font-size: 1.12em;
}

.portfolio__img {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  z-index: 2;
}

.portfolio .slick-slider,
.portfolio .slick-list,
.portfolio .slick-track {
  height: 100%;
}

.portfolio .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s !important;
  transition: -webkit-transform 0.5s !important;
  transition: transform 0.5s !important;
  transition: transform 0.5s, -webkit-transform 0.5s !important;
}

.portfolio .slick-slide {
  height: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.portfolio .slick-arrow {
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  text-indent: -999999px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio .slick-arrow:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/icons/dropdown.svg) no-repeat 50% 50%;
}

.portfolio .slick-arrow:hover, .portfolio .slick-arrow:focus, .portfolio .slick-arrow:active {
  outline: none !important;
}

.portfolio .slick-arrow.slick-prev {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.portfolio .slick-arrow.slick-next {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

@media (max-width: 1149px) {
  .brand .plus-list {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .brand__text {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .brand__img {
    margin-bottom: 20px;
  }
  .brand__img img {
    height: 65px;
  }
  .brand__select {
    margin-bottom: 17px;
  }
  .brand .custom-select__btn,
  .brand .custom-select__value {
    font-size: 15px;
  }
  .resources__row {
    padding-top: 20px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .resources__row p {
    max-width: 450px;
    width: 100%;
  }
  .resources .row {
    max-width: 484px;
  }
  .resources .col {
    min-width: 242px;
    max-width: 242px;
  }
  .portfolio-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
  }
  .portfolio__title {
    margin-bottom: 20px;
  }
  .portfolio__pre-text {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1;
    margin-top: 17px;
  }
  .portfolio__item p {
    margin-top: 10px;
  }
  .portfolio .slick-arrow {
    bottom: 5px;
  }
  .portfolio .slick-arrow.slick-prev {
    left: 0;
  }
  .portfolio .slick-arrow.slick-next {
    right: 0;
  }
}

@media (max-width: 560px) {
  .resources__row p {
    max-width: 207px;
  }
  .resources .row {
    max-width: 242px;
  }
  .resources .col {
    min-width: 100%;
  }
  .portfolio-slider {
    padding-bottom: 10px;
  }
  .portfolio__item {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 11px;
    padding-right: 11px;
    width: 90px;
  }
  .slick-center .portfolio__item {
    width: 122px;
  }
}

@media (min-width: 561px) {
  .portfolio__item {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 41px;
    padding-bottom: 42px;
  }
  .slick-center .portfolio__item {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media (min-width: 561px) and (max-width: 1149px) {
  .portfolio__item {
    width: 120px;
  }
  .slick-center .portfolio__item {
    width: 181px;
  }
}

@media (min-width: 768px) {
  .brand__text {
    padding-bottom: 45px;
  }
  .brand__img {
    margin-bottom: 20px;
  }
  .brand__img img {
    height: 135px;
  }
  .resources__row {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .portfolio:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 13px;
    height: 2px;
    background-color: #E3C7B3;
    border-radius: 2px;
  }
  .portfolio:after {
    content: "";
    position: absolute;
    height: 26px;
    bottom: 0;
    left: 50%;
    display: inline-block;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #fff;
  }
  .light-bg .portfolio:after {
    background-color: #F9F5F3;
  }
  .portfolio-wrap {
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 50px;
  }
  .portfolio__title {
    margin-bottom: 35px;
  }
  .portfolio__pre-text {
    display: none;
  }
  .portfolio__item p {
    margin-top: 13px;
  }
  .portfolio .slick-arrow {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .portfolio .slick-arrow.slick-prev {
    left: -40px;
  }
  .portfolio .slick-arrow.slick-next {
    right: -40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .resources .col {
    max-width: 33.333%;
    min-width: 33.333%;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .brand__text {
    padding-top: 30px;
  }
  .brand__select {
    margin-bottom: 35px;
  }
  .portfolio {
    margin-top: 15px;
  }
  .portfolio:after {
    width: 181px;
  }
  .portfolio-slider {
    width: calc(100% - 46px);
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio__headline {
    margin-top: 26px;
  }
  .portfolio__headline span {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 992px) {
  .resources .col {
    max-width: 25%;
    min-width: 25%;
  }
}

@media (min-width: 1150px) {
  .brand__text {
    padding-top: 50px;
  }
  .portfolio {
    margin-top: 50px;
  }
  .portfolio:after {
    width: 194px;
  }
  .portfolio-wrap .portfolio {
    margin-top: 0;
  }
  .portfolio__headline {
    margin-top: 28px;
  }
  .portfolio__headline span {
    padding-left: 70px;
    padding-right: 70px;
  }
  .portfolio__item {
    width: 131px;
  }
  .slick-center .portfolio__item {
    width: 194px;
  }
  .portfolio .slick-prev:hover {
    -webkit-transform: rotate(90deg) scale(1.1);
            transform: rotate(90deg) scale(1.1);
  }
  .portfolio .slick-next:hover {
    -webkit-transform: rotate(270deg) scale(1.1);
            transform: rotate(270deg) scale(1.1);
  }
}

/***** additionals *****/
.additionals__item {
  width: 100%;
  padding-top: 24px;
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
}

.additionals__dropdown-content {
  padding: 40px 15px 0;
}

.additionals__btn {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.additionals__dropdown {
  margin-top: 37px;
}

.additionals h5 {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.additionals img {
  margin-top: 8px;
  margin-bottom: 13px;
}

@media (max-width: 1149px) {
  .additionals {
    padding-bottom: 12px;
  }
  .additionals__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
  .additionals__item {
    margin-bottom: 58px;
  }
  .additionals h5 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .additionals {
    padding-top: 25px;
  }
  .additionals__row {
    margin-top: 25px;
  }
  .additionals__item {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
  }
  .additionals__dropdown {
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  .additionals {
    padding-top: 29px;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .additionals__container {
    max-width: 513px;
  }
}

@media (min-width: 1150px) {
  .additionals {
    padding-bottom: 73px;
  }
  .additionals h5 {
    max-width: 222px;
  }
}

/***** Footer *****/
.footer {
  position: relative;
  background-color: #132A36;
  color: #ffffff;
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
}

.footer:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 9px;
  height: 2px;
  background-color: #ffffff;
}

.footer__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 24px;
}

.footer__info:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 59px;
  margin-top: -30px;
  background-color: #ffffff;
  border-radius: 2px;
}

.footer__info a {
  position: relative;
}

.footer__info a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  bottom: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__info a:hover:after {
  width: 100%;
}

.footer__copy {
  position: relative;
  padding-top: 13px;
  text-align: center;
  font-size: 15px;
  font-family: "Work Sans", sans-serif;
}

.footer__copy:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 59px;
  height: 2px;
  border-radius: 2px;
  margin-left: -30px;
  background-color: #ffffff;
}

.footer ul {
  list-style: none;
}

.warranties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.warranties__item {
  padding-left: 8px;
  padding-right: 8px;
}

@media (max-width: 1149px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__col {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__col--warranties {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    min-width: 100%;
  }
}

@media (max-width: 767px) {
  .footer {
    padding-top: 38px;
    padding-bottom: 17px;
  }
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__info {
    min-width: 200px;
    min-height: 59px;
    margin-top: 20px;
  }
  .footer__copy {
    margin-top: 32px;
  }
  .warranties img {
    max-height: 66px;
    width: auto;
  }
}

@media (min-width: 768px) {
  .footer {
    padding-bottom: 25px;
  }
  .footer__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__info {
    margin-top: 13px;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .footer {
    padding-top: 48px;
  }
  .footer__container {
    padding-left: 35px;
    padding-right: 35px;
  }
  .footer__copy {
    margin-top: 42px;
  }
  .warranties {
    padding-bottom: 38px;
  }
}

@media (min-width: 1150px) {
  .footer {
    padding-top: 55px;
  }
  .footer__container {
    padding-left: 75px;
    padding-right: 75px;
  }
  .footer__copy {
    margin-top: 50px;
  }
}

/***** General *****/
.light-bg {
  background-color: #F9F5F3;
}

.beige-bg {
  background-color: #E3C7B3;
}

.white-bg {
  background-color: #ffffff;
}

.dark-bg {
  background-color: #132A36;
  color: #ffffff;
}
