/*
	Theme Name:  Legacy Cabinets 2020
	Theme URI:   https://www.ccgideas.com
	Description: Custom WordPress Theme built by Cummings Creative Group and based upon the EA Starter Theme by Bill Erickson: https://github.com/billerickson/EA-Starter
	Author:      Bill Erickson & Nathan Owens
	Author URI:  https://www.ccgideas.com
	Version:     1.0.0
	License:     GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html


	BEFORE MODIFYING THIS THEME:
	Please read the instructions here (private repo): https://github.com/billerickson/EA-Starter/wiki
	Devs, contact me if you need access
*/

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
  }
blockquote {
  font-size: 110%;
  padding: 10px;
  background: #f3f3f3;
  font-style: italic;
}
blockquote em {
  font-style: normal;
}
blockquote > p:last-child {
    margin-bottom: 0;
}

.clear{clear:both;}


.alignwide,
.alignfull {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
}


/* Gravity Forms custom classes: labels-hidden & labels-hidden-top */
.gform_wrapper .gform_fields .labels-hidden label {
	/* hides any label with the field */
	display: none!important;
  }
  .gform_wrapper .gform_fields .labels-hidden-top > label {
	   /* only hides the field's top label */
	display: none!important;
  }
  .gform_wrapper .gform_fields .gfield .ginput_container input[type="text"] {
	width: 100%;
  }
  .gform_button {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
  }

  /* there's also Gravity Forms classes like gf_left_half, gf_right_half, gf_left_third, gf_middle_third, gf_list_2col, gf_list_3col */

$blue: #132A36;
$brown: #B38869;
$beige: #E3C7B3;
$light: #F9F5F3;
$white: #ffffff;
$dmseriftext: 'DM Serif Text', serif;
$worksans: 'Work Sans', sans-serif;
$monserrat: 'Montserrat', sans-serif;

/***** General *****/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: $monserrat;
}
a {
  transition: all 0.3s;
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
html,
body {
  height: 100%;
  width: 100%;
}
.wrap {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1149px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1150px) {
  .container {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    &--short {
      max-width: 968px;
    }
  }
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}
[class^="col"] {
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.btn-main {
  min-width: 160px;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid $blue;
  background-color: transparent;
  color: $blue;
  display: inline-block;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  line-height: 43px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: $blue;
    color: $white;
  }
  &--mobile-full-width {
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &--white {
    color: $white;
    border-color: $white;
    &:hover {
      background-color: $white;
      color: $blue;
    }
  }
}
.btn-overlay {
  width: 225px;
  height: 49px;
  line-height: 49px;
  text-align: center;
  display: inline-block;
  position: relative;
  background-color: $blue;
  color: $white;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  text-transform: uppercase;
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    left: 3px;
    right: 3px;
    top: 3px;
    bottom: 3px;
    border: 2px solid $white;
  }
  &:hover {
    background-color: $brown;
  }
}
.text-link {
  &-arrow {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 27px;
    &--long {
      display: inline-block;
      text-transform: none;
    }
    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 20px;
      height: 10px;
      transform: translateY(-50%);
      background: url(../img/icons/arrow.svg) no-repeat 50% 100% / 100% auto;
      transition: all 0.3s;
    }
    &:hover {
      &:after {
        background-image: url(../img/icons/arrow-navy.svg);
        right: -5px;
      }
    }
  }
}
@media (max-width: 1149px)  {
  .row {
    &.tablet-column {
      flex-direction: column;
    }
  }
}
@media (max-width: 767px)  {
  .row {
    &.mobile-column {
      flex-direction: column;
    }
  }
}
@media (max-width: 479px) {
  .mobile-full-width {
    width: 100%;
    min-width: 100%;
  }
}

/***** Headlines *****/
h1 {
  letter-spacing: 0.05em;
}
h2 {
  font-family: $worksans;
}
h2,
h5 {
  font-weight: 600;
}
h4 {
  font-weight: 400;
}
h6 {
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  font-family: inherit;
}
p:not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px;
    line-height: 32px;
  }
  h2 {
    font-size: 20px;
    line-height: 24px;
  }
  h3 {
    font-size: 20px;
    line-height: 28px;
  }
  h4 {
    font-size: 17px;
    line-height: 24px;
  }
  h5 {
    font-size: 15px;
    line-height: 20px;
  }
  p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
  h3 {
    font-size: 28px;
    line-height: 40px;
  }
  h4 {
    font-size: 24px;
    line-height: 28px;
  }
  h5 {
    font-size: 20px;
    line-height: 30px;
    &.small {
      font-size: 18px;
      font-family: $monserrat;
    }
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
}

.headline-overlay {
  background-color: $blue;
  color: $white;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 767px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @media (min-width: 768px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &:before {
    content: "";
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border: 3px solid #fff;
  }
}

/***** Text ******/
.italic {
  font-style: italic;
}
.dm-serif-text {
  font-family: $dmseriftext;
  font-weight: 400;
}
.playfair-display {
  font-family: 'Playfair Display', serif;
}
.work-sans {
  font-family: $worksans;
}

.text-center {
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1149px) {
  .tablet-only-center {
    text-align: center;
  }
}
.brown {
  color: $brown;
}
.navy {
  color: $blue;
}
.bold {
  font-weight: 700;
}
.semi-bold {
  font-weight: 600;
}
.small {
  font-size: 12px;
}
.extra-small {
  font-size: 10px;
  line-height: 1.2;
  * {
    font-size: inherit;
    line-height: inherit;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.underline-item,
.upperline-item {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    border-radius: 2px;
    background-color: $brown;
  }
}
.underline-item {
  padding-bottom: 22px;
  margin-bottom: 20px;
  &:after {
    bottom: 0;
  }
}
.upperline-item {
  &:after {
    top: 0;
  }
}
@media (max-width: 1149px) {
  .underline-item {
    &:after {
      width: 52px;
    }
  }
}
@media (max-width: 767px) {
  .upperline-item,
  .underline-item--long {
    padding-top: 20px;
    &:after {
      width: 100px;
    }
  }
}
@media (min-width: 768px) {
  .upperline-item,
  .underline-item--long {
    padding-top: 32px;
    &:after {
      width: 200px;
    }
  }
}
@media (min-width: 1150px) {
  .underline-item {
    &:after {
      width: 82px;
    }
    &--long {
      &:after {
        width: 200px;
      }
    }
  }
}
.underline-item {
  &--standart {
    &:after {
      width: 86px;
    } 
  }
}

/***** Header *****/
.header {
  background-color: $white;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: all 0.3s;
  &__container {
    position: relative;
    display: flex;
    padding-top: 7px;
    padding-bottom: 6px;
    justify-content: space-between;
  }
}
.navigation {
  font-family: $worksans;
  font-weight: 500;
  font-size: 14px;
  .menu > li {
    & > a {
      text-transform: uppercase;
    }
  }
  li {
    list-style-type: none;
  }
  a {
    display: inline-block;
    line-height: 19px;
  }
  .sub-menu {
    top: calc(100% + 8px);
    display: none;
    a {
      text-transform: none;
    }
  }
}
.nav-brands {
  text-align: center;
  padding-top: 20px;
  display: none;
  &__headline {
    font-family: $dmseriftext;
    letter-spacing: 0.05em;
    color: $brown;
    position: relative;
    padding-bottom: 8px;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -100px;
      width: 200px;
      height: 2px;
      background-color: $brown;
      border-radius: 2px;
      display: inline-block;
    }
  }
  &__row {
    margin-top: 17px;
    margin-bottom: 20px;
    justify-content: center;
  }
  &__list {
    text-align: left;
  }
}
.brand-link {
  position: relative;
  &__front,
  &__hover {
    transition: all 0.3s;
  }
  &:hover {
    .brand-link__front {
      opacity: 0;
    }
    .brand-link__hover {
      opacity: 1;
    }
  }
  &__hover {
    opacity: 0;
    position: absolute;
    left: 0;
  }
}
@media (max-width: 1149px) {
  .header {
    &__container {
      max-width: 100%;
    }
    &__links {
      display: flex;
      align-items: center;
    }
  }
  .navigation {
    display: none;
    position: absolute;
    width: 100%;
    background-color: $light;
    top: 100%;
    right: 0;
    border-top: 4px solid $brown;
    .menu {
      & > li {
        & > a {
          padding-left: 32px;
        }
      }
      li {
        border-top: 1px solid $beige;
        &.has-children {
          > a {
            display: flex;
            justify-content: space-between;
            &:after {
              content: "";
              width: 20px;
              height: 20px;
              display: block;
              background: url(../img/icons/dropdown.svg) no-repeat 50% 50%;
              transition: all 0.3s;

            }
          }
        }
        &.sub-menu-opened {
          > a {
            background-color: $blue;
            color: $white;
            &:after {
              background-image: url(../img/icons/dropdown-white.svg);
              transform: rotate(360deg);
            }
          }
        }
      }
      a:not(.text-link-arrow) {
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 14px;
      }
    }
    .sub-menu {
      background-color: $white;
      a {
        padding-left: 52px;
        padding-right: 20px;
      }
    }
    .nav-brands {
      li {
        border-top: 0;
      }
    }
  }
  .nav-brands {
    padding-bottom: 20px;
    background-color: $white;
    &__headline {
      font-size: 24px;
    }
    &__main-row {
      flex-direction: column;
    }
    &__list {
      img {
        height: 36px;
        width: auto;
      }
    }
    &__bottom {
      text-align: left;
      line-height: 22px;
    }
    &__col {
      padding-left: 30px;
      padding-right: 30px;
      &:first-child {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $beige;
      }
    }
    &__img {
      padding-top: 5px;
    }
  }
  .menu-btn {
    position: relative;
    width: 25px;
    height: 16px;
    display: inline-block;
    margin-left: 20px;
    &__line,
    &__line:before,
    &__line:after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: $brown;
      display: inline-block;
      transition: all 0.3s;
    }
    &__line {
      top: 50%;
      margin-top: -1px;
    }
    &__line:before,
    &__line:after {
      content: "";
      z-index: 2;
    }
    &__line:before {
      top: -7px;
    }
    &__line:after {
      bottom: -7px;
    }
  }
  .navigation-opened {
    .menu-btn {
      &__line {
        background-color: transparent;
        &:before {
          transform: rotate(-45deg);
          top: 0;
        }
        &:after {
          transform: rotate(45deg);
          bottom: 0;
        }
      }
    }
  }
  .user {
    height: 20px;
    svg {
      width: 20px;
      height: 20px;
    }
    &__text {
      display: none;
    }
  }

}
@media (max-width: 767px) {
  .wrap {
    padding-top: 58px;
  }
  .header {
    &__container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .navigation {
    .menu {
      & > li {
        & > a {
          padding-right: 20px;
        }
      }
    }
  }
  .logo {
    width: 163px;
  }
}
@media (min-width: 768px) {
  .wrap {
    padding-top: 80px;
  }
  .logo {
    img  {
      width: 250px;
      transition: all 0.3s;
      .header--scrolled & {
        width: 206px;
      }
    }
  }
  .nav-brands {
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .header {
    &__container {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
  .navigation {
    max-width: 338px;
    .menu {
      & > li {
        & > a {
          padding-right: 30px;
        }
      }
    }
  }
}
@media (min-width: 1150px) {
  .menu-btn {
    display: none;
  }
  .navigation {
    height: 100%;
    .menu,
    .menu > li {
      height: 100%;
    }
    .menu {
      display: flex;
      > li  {
        position: relative;
        &.nav-brands-wrap {
          position: static;
        }
        & + li {
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 19px;
            background-color: $brown;
          }
        }
        > a {
          position: relative;
          height: 100%;
          padding-left: 20px;
          padding-right: 20px;
          display: flex;
          align-items: center;
          &:before,
          &:after {
            content: "";
            position: absolute;
            width: 100%;
          }
          &:before {
            left: 50%;
            bottom: -8px;
            height: 0;
            transform: translateX(-50%);
            background-color: $brown;
            border-radius: 2px;
            transition: all 0.3s;
          }
          &:after {
            bottom: -9px;
            height: 9px;
          }
          &:hover {
            &:before {
              height: 4px;
            }
          }
        }
        &.active {
          > a {
            font-weight: 700;
            &:before {
              height: 4px;
            }
          }
        }
        &.sub-menu-opened {
          a {
            &:before {
              height: 4px;
              width: 178px;
            }
          }
        }
      }
    }
    .sub-menu {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 160px;
      background-color: $light;
      li + li {
        border-top: 1px solid $brown;
      }
      a {
        font-size: 14px;
        padding-left: 16px;
        padding-right: 16px;
        line-height: 30px;
      }
    }
  }
  .nav-brands {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    background-color: $light;
    box-shadow: inset 3px 3px 8px rgba(0,0,0,0.25), 3px 3px 8px rgba(0,0,0,0.25);
    &__list {
      padding-right: 40px;
      li {
        padding-top: 5px;
        padding-bottom: 5px;
      }
      img {
        height: 33px;
        width: auto;
      }
    }
    &__col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &:first-child {
        max-width: calc(50% - 35px);
        border-right: 1px solid $beige;
      }
    }
  }
  .user {
    position: absolute;
    top: 100%;
    right: -70px;
    &__btn {
      width: 190px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $blue;
      color: $white;
      text-transform: uppercase;
      font-family: $worksans;
      font-weight: 600;
      font-size: 13px;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 50vw;
        background-color: $blue;
        transition: all 0.3s;
      }
      path {
        transition: all 0.3s;
      }
      &:hover {
        background-color: $brown;
        &:after {
          background-color: $brown;
        }
        path {
          fill: $white
        }
      }
    }
    &__text {
      padding-left: 10px;
    }
  }
}

/***** banner *****/
.banner {
  position: relative;
  &:not(.banner--home) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    img {
      width: 100%;
      height: 100%;
      max-width: inherit;
      object-fit: cover;
    }
  }
  &__content {
    position: relative;
    padding-top: 26px;
    padding-bottom: 26px;
    background-color: rgba(255, 255, 255, 0.8);
    &:before {
      content: "";
      position: absolute;
      top: 6px;
      bottom: 6px;
      border-top: 3px solid;
      border-bottom: 3px solid;
    }
    &:hover {
      .text-link-arrow {
        &:after {
          background-image: url(../img/icons/arrow-navy.svg);
          right: -5px;
        }
      }
    }
    &:focus {
      outline: transparent !important;
    }
  }
  &__emblem {
    position: relative;
  }
  &__headline {
    margin-top: 20px;
    line-height: 24px;
  }
  .slick-slide {
    display: flex;
  }
  .home-slider,
  .slick-list,
  .slick-track {
    height: 100%;
  }
  .slick-dots{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    li {
      padding-left: 4px;
      padding-right: 4px;
      &.slick-active {
        button {
          background-color: $white;
        }
      }
    }
    button {
      width: 15px;
      height: 15px;
      background-color: transparent;
      border: 2px solid $white;
      border-radius: 50%;
      text-indent: -99999px;
    }
  }
}
@media (max-width: 767px) {
  .banner {
    height: 275px;
    &--home {
      height: auto;
    }
    &__img {
      width: 100%;
      height: 275px;
    }
    &__content {
      margin-top: -6px;
      padding-left: 33px;
      padding-right: 33px;
      flex: 1;
      &:before {
        left: 0;
        right: 0;
      }
    }
    &__emblem {
      height: 161px;
      width: auto;
      position: absolute;
      right: 50%;
      bottom: 50%;
      transform: translate(50%, 50%);
    }
    .slick-track {
      display: flex;
    }
    .slick-slide {
      flex-direction: column;
      height: auto;
    }
    .slick-dots {
      top: 235px;
    }
  }
}
@media (min-width: 768px) {
  .banner {
    &__img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
    &__content {
      width: 444px;
      padding-left: 66px;
      padding-right: 52px;
      &:before {
        left: 6px;
        right: 0;
        border-left: 3px solid;
      }
    }
    &__emblem {
      margin-bottom: 52px;
    }

    .slick-slide {
      position: relative;
      align-items: center;
      justify-content: flex-end;
    }
    .slick-dots {
      bottom: 9px;
    }
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .banner {
    height: 450px;
  }
}
@media (min-width: 1150px) {
  .banner {
    height: 510px;
  }
}
.banner {
  &__content {
    &--presidential {
      &:before {
        border-color: #537EC0;
      }
    }
    &--modena {
      &:before {
        border-color: #8E66BC;
      }
    }
    &--debut {
      &:before {
        border-color: #F9B25D;
      }
    }
  }
}

/***** top-page/bottom-page *****/
.top-page {
  position: relative;
  background-color: $light;
  &--dark {
    background-color: $blue;
    color: $white;
  }
  &:after {
    bottom: 7px;
  }
  h2,
  h5 {
    font-family: $worksans;
    font-weight: 700;
  }
}
.bottom-page {
  position: relative;
  &:after {
    top: 7px;
  }
  &__headline {
    max-width: 610px;
    display: inline-block;
  }
}
.top-page,
.bottom-page {
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background-color: $white;
  }
  &--no-line {
    &:after {
      display: none;
    }
  }
}
@media (max-width: 767px) {
  .top-page {
    padding-top: 20px;
    padding-bottom: 35px;
    h2 {
      margin-top: 10px;
      margin-bottom: 15px;
    }
    p {
      line-height: 22px;
    }
  }
  .bottom-page {
    padding-top: 34px;
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .top-page {
    h2 {
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }
  .bottom-page {
    padding-top: 74px;
    &__headline {
      padding-bottom: 58px;
      margin-bottom: 41px;
    }
    &__btn {
      margin-top: 21px;
    }
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .top-page {
    padding-top: 44px;
    padding-bottom: 34px;
  }
  .bottom-page {
    padding-bottom: 62px;
  }
}
@media (min-width: 1150px) {
  .top-page {
    padding-top: 60px;
    padding-bottom: 60px;
    &--no-line {
      padding-top: 50px;
      padding-bottom: 28px;
    }
    p {
      max-width: 941px;
      display: inline-block;
    }
  }
  .bottom-page {
    padding-bottom: 92px;
  }
}

/***** brands *****/
.brands {
  &__row {
    justify-content: space-between;
  }
}
@media (max-width: 560px) {
  .brands {
    padding: 10px 30px;
    &__row {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    &__col {
      padding-top: 16px;
      padding-bottom: 16px;
      &:nth-child(2n) {
        width: 40%;
      }
      &:nth-child(2n +1) {
        width: 60%;
      }
    }
    img {
      height: 35px;
      width: auto;
      max-width: inherit;
    }
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .brands {
    padding-top: 20px;
    padding-bottom: 20px;
    &__container {
      max-width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
@media (min-width: 1150px) {
  .brands {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/***** Content *****/
.content {
  flex: 1 1 auto;
}
.js-dropdown {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    height: 9px;
    background-color: $beige;
    z-index: 2;
  }
  &__btn {
    cursor: pointer;
    transition: all 0.3s;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: $blue url(../img/icons/dropdown-white.svg) no-repeat 50% 50%;
    z-index: 2;
    .opened & {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
  &__content {
    display: none;
    background-color: $white;
  }
}
.plus-list {
  list-style-type: none;
  font-size: 16px;
  line-height: 22px;
  li {
    position: relative;
    &:before {
      content: "+";
      font-weight: 600;
      color: $brown;
      position: absolute;
      left: 0;
      font-size: 23px;
      line-height: 22px;
    }
    & + li {
      margin-top: 15px;
    }
  }
}
@media (max-width: 767px) {
  .plus-list {
    li {
      padding-left: 20px;
    }
  }
}
@media (min-width: 768px) {
  .plus-list {
    li {
      padding-left: 35px;
    }
  }
}

/* article */
.article {
  display: inline-block;
  width: 100%;
  .quote {
    background-color: $light;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
    margin-bottom: 20px;
    h1, h2, h3 {
      color: $brown;
      font-weight: 600;
      margin-bottom: 5px;
    }
  }
  a {
    display: inline-block;
    background-color: $light;
    color: $blue;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 700;
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
  ul {
    list-style: none;
    margin-left: 44px;
    margin-right: 44px;
    font-size: 16px;
    line-height: 26px;
    li:before {
      content: "\2022";
      color: $brown;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-bottom: 15px;
    }
  }
}
@media (max-width: 1149px) {
  .article {
    padding-top: 35px;
    padding-bottom: 35px;
    .quote {
      margin-left: 20px;
      margin-right: 20px;
      padding: 15px 30px;
    }
  }
}
@media (max-width: 767px) {
  .article {
    .quote {
      h1, h2, h3 {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
@media (min-width: 1150px) {
  .article {
    padding-top: 45px;
    padding-bottom: 45px;
    .quote {
      margin-left: 30px;
      margin-right: 30px;
      padding: 20px 50px;
      h1, h2, h3 {
        font-size: 24px;
        line-height: 26px;
      }
    }
    .list-short {
      max-width: 212px;
    }
  }
}

/* cabinet-style */
.cabinet-style {
  position: relative;
  background-color: $blue;
  color: $white;
  &:after {
    content: "";
    position: absolute;
    bottom: 7px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: $white;
  }
  &__container {
    max-width: 900px;
  }
  &__or {
    position: relative;
    border-radius: 50%;
    background-color: $brown;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -1px;
      height: 2px;
      border-radius: 2px;
      background-color: #c4c4c4;
    }
  }
  &__img {
    margin-bottom: 20px;
  }
  &__item {
    position: relative;
    cursor: pointer;
  }
  &__info {
    position: relative;
    background-color: $light;
    color: #000;
    text-align: left;
    border-radius: 3px;
    cursor: inherit;
    &-wrap {
      position: absolute;
      z-index: 2;
      overflow: hidden;
      transition: all 0.5s;
      &:after {
        content: "";
        position: absolute;
        background-color: $brown;
        border-radius: 2px;
      }
    }
    &:before {
      content: "";
      width: 30px;
      height: 2px;
      margin-bottom: 20px;
      display: inline-block;
      border-radius: 2px;
      background-color: #000;
    }
    &-close {
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
}
@media (max-width: 1149px) {
  .cabinet-style {
    &__or {
      width: 64px;
      height: 64px;
      font-size: 24px;
      &:before,
      &:after {
        width: 15px;
      }
      &:before {
        right: calc(100% + 10px);
      }
      &:after {
        left: calc(100% + 10px);
      }
    }
  }
}
@media (max-width: 767px) {
  .cabinet-style {
    padding-top: 17px;
    padding-bottom: 35px;
    &__row {
      flex-direction: column;
    }
    &__or {
      margin-top: 33px;
      margin-bottom: 44px;
    }
    &__info {
      padding: 30px;
      width: 280px;
      &-wrap {
        width: 290px;
        left: 50%;
        margin-left: -145px;
        padding-left: 5px;
        padding-right: 5px;
        height: 0;
        &--left {
          top: calc(100% + 30px);
          &:after {
            top: 0;
          }
        }
        &--right {
          bottom: calc(100% + 30px);
          &:after {
            bottom: 0;
          }
        }
        &:after {
          left: 0;
          right: 0;
          height: 5px;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .cabinet-style {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 57px;
    &__info {
      &-wrap {
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        padding: 5px 0;
        &:after {
          top: 0;
          bottom: 0;
          width: 4px;
        }
        &--right {
          &:after {
            right: 0;
          }
        }
        &--left {
          &:after {
            left: 0;
          }
        }
      }
    }
    &__row {
      margin-top: 34px;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cabinet-style {
    &__info {
        padding: 30px;
        width: 65vw;
      &-wrap {
        &.show {
          width: 65vw;
        }
        &--left {
          left: 100%;
        }
        &--right {
          right: 100%;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .cabinet-style {
    &__info {
      width: 558px;
      padding: 38px 60px;
      &-wrap {
        &.show {
          width: 558px;
        }
        &--left {
          left: calc(100% + 80px);
        }
        &--right {
          right: calc(100% + 100px);
        }
      }
    }
  }
}
@media (min-width: 1150px) {
  .cabinet-style {
    &__or {
      width: 104px;
      height: 104px;
      font-size: 40px;
      &:before,
      &:after {
        width: 24px;
      }
      &:before {
        right: calc(100% + 20px);
      }
      &:after {
        left: calc(100% + 20px);
      }
    }
  }
}

/* .brands-detail */
.brands-detail {
  &__item {
    height: 100%;
    width: 100%;
    padding-top: 20px;
    background-color: $white;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.25);
    position: relative;
    z-index: 2;
  }
  &__icon {
    text-align: center;
  }
  &__drop-content {
    padding-top: 47px;
  }
  &__btn {
    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  &__dol {
    color: $brown;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    &:after {
      content: "";
      flex: 1;
      height: 2px;
      background-color: $brown;
      border-radius: 2px;
      display: inline-block;
    }
  }
  &__level {
    display: inline-block;
    padding-right: 10px;
  }
  &__text {
    font-weight: 500; 
  }
}
@media (max-width: 1149px) {
  .brands-detail {
    &__text {
      padding-bottom: 40px;
    }
    &__row {
      flex-direction: column;
    }
    &__dropdown {
      position: relative;
    }
  }
}
@media (max-width: 767px) {
  .brands-detail {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    &__item {
      padding-left: 15px;
      padding-right: 15px;
    }
    &__dropdown {
      &:before {
        left: -15px;
        right: -15px;
      }
    }
    &__col {
      & + & {
        margin-top: 50px;
      }
    }
  }
}
@media (min-width: 768px) {
  .brands-detail {
    &__item {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .brands-detail {
    padding-top: 37px;
    padding-bottom: 16px;
    &__container {
      width: 513px;
    }
    &__col {
      & + & {
        margin-top: 60px;
      }
    }
    &__dropdown {
      &:before {
        left: -20px;
        right: -20px;
      }
    }
  }
}
@media (min-width: 1150px) {
  .brands-detail {
    padding-top: 62px;
    &__item {
      padding-top: 30px;
    }
    &__text {
      padding-bottom: 60px;
    }
    &__dropdown {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &__drop-content {
      position: absolute;
      left: 0;
      right: 0;
      padding-left: 35px;
      padding-right: 35px;
      box-shadow: 3px 3px 8px rgba(0,0,0,0.25);
    }
  }
}

/* text-section, text-image-section */
.text-section {
  &__underline {
    margin-top: 30px;
    font-family: $worksans;
  }
}
.text-image-section {
  .underline-item {
    font-weight: 400;
  }
}
.gallery-preview {
  position: relative;
  &__text {
    position: absolute;
    background-color: $light;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.25);
  }
  p {
    line-height: 20px;
    letter-spacing: 0.05em;
  }
}
.calculator-preview {
  &__icon {
    width: 109px;
    height: 109px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $light;
  }
  &__headline {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    font-family: $worksans;
    letter-spacing: 0.02em;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 2px;
      border-radius: 2px;
      background-color: $brown;
    }
  }
}
@media (max-width: 1149px) {
  .text-image-section {
    padding-top: 44px;
    padding-bottom: 56px;
    &__row {
      flex-direction: column;
    }
  }
}
@media (max-width: 767px) {
  .text-section {
    padding-top: 21px;
    padding-bottom: 21px;
    &__underline {
      margin-top: 17px;
      padding-top: 19px;
      padding-bottom: 0;
      margin-bottom: 15px;
      &:after {
        top: 0;
        bottom: auto;
      }
    }
  }
  .text-image-section {
    .underline-item {
      margin-top: 10px;
    }
  }
  .gallery-preview {
    margin-top: 37px;
    padding-bottom: 35px;
    &__text {
      bottom: 0;
      padding: 19px 25px;
      left: 50%;
      width: 208px;
      margin-left: -104px;
    }
    &__headline {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 20px;
    }
  }
  .calculator-preview {
    margin-top: 20px;
    &__headline {
      padding-bottom: 13px;
      margin-bottom: 13px;
      &:after {
        left: 20px;
        right: 20px;
      }
    }
  }
}
@media (min-width: 768px) {
  .text-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .text-image-section {
    &__row {
     margin-top: 35px;
    }
  }
  .gallery-preview {
    padding-right: 63px;
    &__text {
      width: 298px;
      height: 299px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      padding: 45px 60px;
    }
    &__headline {
      margin-bottom: 14px;
    }
  }
  .calculator-preview {
    &__headline {
      padding: 0 17px 17px;
      margin-top: 20px;
      margin-bottom: 25px;
      &:after {
        left: 0;
        right: 0;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .gallery-preview {
    max-width: 676px;
    padding-left: 63px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 71px;
  }
  .calculator-preview {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1150px) {
  .text-image-section {
    padding-top: 86px;
    padding-bottom: 74px;
    &__row {
      align-items: center;
    }
    .text-col {
      min-width: 40%;
    }
    .image-col {
      min-width: 60%;
    }
  }
  .calculator-preview {
    padding-right: 30px;
  }
}

/* custom table, cahrt-wrap */
.chart-wrap {
  &--border-top {
    border-top: 1px solid $brown;
  }
}
.custom-table {
  table {
    border-collapse: collapse;
    th, td {
      padding: 10px 20px;
    }
    th {
      height: 50px;
      background-color: $blue;
      border: 1px solid $blue;
      color: $white;
      text-align: left;
    }
    td {
      border: 1px solid $brown;
      height: 50px;
      &:first-child {
        white-space: nowrap;
        font-weight: 600;
      }
      &:not(:first-child) {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
@media (max-width: 1149px) {
  .custom-table {
    overflow-x: auto;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    table {
      width: 1050px;
    }
  }
}
@media (max-width: 767px) {
  .chart-wrap {
    padding-top: 20x;
    padding-bottom: 33px;
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .chart-wrap {
    padding-top: 20x;
    padding-bottom: 33px;
  }
}
@media (min-width: 1150px) {
  .chart-wrap {
    padding-top: 44px;
    padding-bottom: 50px;
  }
}

/* general-list */
.general-list {
  &__item {
    display: inline-block;
    width: 100%;
    & + & {
      border-top: 1px solid $beige;
    }
  }
  h4 {
    font-family: $worksans;
    font-weight: 600;
    margin-bottom: 5px;
  }
  strong {
    font-weight: 600;
  }
}
@media (max-width: 767px) {
  .general-list {
    &__item {
      padding-top: 25px;
      padding-bottom: 25px;
      text-align: center;
    }
    &__img {
      margin-bottom: 17px;
    }
  }
}
@media (min-width: 768px) {
  .general-list {
    &__img {
      float: left;
      margin-right: 50px;
    }
    &__item {
      &:nth-child(2n) {
        .general-list__img {
          float: right;
          margin-right: 0;
          margin-left: 40px;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .general-list {
    &__img {
      margin-right: 30px;
      &--long {
        width: 100%;
        text-align: center;
        margin-bottom: 17px;
      }
    }
    &__item {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 40px;
      padding-right: 40px;
      &:nth-child(2n) {
        .general-list__img {
          margin-left: 20px;
        }
      }
    }
  }
}
@media (min-width: 1150px) {
  .general-list {
    &__item {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}

/* accordion, total, budget */
.accordion {
  padding-top: 44px;
  padding-bottom: 58px;
  &--sub {
    padding-top: 0;
    padding-bottom: 0;
    .accordion__btn {
      display: flex;
      background-color: transparent;
    }
    .accordion__item {
      margin-bottom: 0;
      &:not(:last-child) {
        border-bottom: 1px solid $brown;
      }
      &.opened {
        > .accordion__btn {
          background-color: transparent;
          color: $blue;
          &:after {
            background-image: url(../img/icons/dropdown.svg);
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  &__item {
    margin-bottom: 8px;
    &.opened {
      > .accordion__btn {
        background-color: $blue;
        color: $white;
        &:after {
          background-image: url(../img/icons/dropdown-white.svg);
          transform: rotate(360deg);
        }
      }
    }
  }
  &__btn {
    position: relative;
    background-color: $light;
    padding-top: 13px;
    padding-bottom: 13px;
    transition: all 0.3s;
    cursor: pointer;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -10px;
      width: 20px;
      height: 20px;
      background: url(../img/icons/dropdown.svg) no-repeat 50% 50%;
      transition: all 0.3s;
    }
    h5 {
      font-family: $monserrat;
    }
  }
  &__content {
    display: none;
  }
  &__percents {
    display: flex;
    &-item {
      height: 33px;
      background: $light;
      line-height: 33px;
      display: flex;
      align-items: center;
      &:first-child:not(:last-child) {
        width: 120px;
        justify-content: center;
      }
      &:last-child {
        width: 150px;
        padding-left: 32px;
      }
    }
  }
}
.total {
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
  }
  &__brands {
    [class^=col] {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .accordion__percents-item {
    padding-left: 0;
    justify-content: center;
  }
}
.budget {
  &__item {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    &:not(:first-child) {
      border-top: 2px solid $brown;
    }
  }
  &__or {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: $brown;
    color: #fff;
    font-family: $dmseriftext;
    text-align: center;
    line-height: 52px;
    font-size: 18px;
    letter-spacing: 0.09em;
    font-style: italic;
  }
  &__list-select {
    width: 232px;
  }
  &__field {
    width: 180px;
    height: 30px;
    position: relative;
    flex-shrink: 0;
    &:not(.custom-select) {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 30px;
        width: 30px;
        background: url(../img/icons/dropdown.svg) no-repeat 50% 50%;
        transform: rotate(270deg);
      }
    }
    input {
      width: 100%;
      height: 30px;
      background-color: transparent;
      border: none;
      outline: none !important;
      border-bottom: 3px solid rgba(123,123,123,0.32);
      padding-left: 15px;
      padding-right: 30px;
      font-family: inherit;
      font-weight: 600;
    }
    .custom-select__value {
      text-align: left;
      padding-left: 15px;
    }
  }
  &__result {
    width: 180px;
    height: 30px;
    padding-left: 17px;
    display: flex;
    align-items: center;
    background-color: $light;
    flex-shrink: 0;
  }
  &__renovation {
    display: flex;
    & + & {
      margin-top: 30px;
    }
    h4 {
      flex: 1;
    }
  }
}
@media (max-width: 1149px) {
  .accordion {
    &--sub,
    .budget {
      margin-top: -10px;
      margin-left: -20px;
      margin-right: -20px;
      margin-bottom: -20px;
    }
    &__btn {
      padding-right: 50px;
      padding-left: 20px;
      &:after {
        right: 20px;
      }
    }
    &__content {
      padding: 10px 20px;
    }
  }
  .total {
    text-align: center;
    &__brands {
      .row {
        justify-content: center;
      }
    }
    &__counters {
      text-align: left;
    }
  }
  .budget {
    &__row {
      flex-direction: column;
    }
  }
}
@media (max-width: 767px) {
  .accordion {
    margin-left: -20px;
    margin-right: -20px;
    &--sub {
      .accordion__btn {
        flex-direction: column;
        &:after {
          top: 25px
        }
      }
    }
    &--calculator {
      h5 {
        font-size: 17px;
      }
    }
    &__btn {
      h5 {
        line-height: 20px;
      }
    }
    &__percents {
      margin-right: -30px;
      justify-content: space-between;
      margin-top: 13px;
    }
  }
  .total {
    &__item {
      flex-direction: column;
    }
    .accordion__percents {
      margin-top: 8px;
      margin-right: 0;
    }
  }
  .budget {
    &__row {
      .col.one-third {
        text-align: center;
      }
    }
    &__item {
      padding-top: 20px;
      padding-bottom: 20px;
      flex-direction: column;
      align-items: center;
      &:nth-child(2) {
        padding-bottom: 50px;
      }
      &:nth-child(3) {
        padding-top: 50px;
      }
    }
    &__renovation {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:last-child {
        margin-bottom: 23px;
      }
    }
    &__list {
      text-align: center;
      margin-bottom: 23px;
      &-select {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &__field {
      input {
        font-size: 17px;
      }
    }
    &__result {
      padding-right: 17px;
      justify-content: center;
    } 
    h4 {
      text-align: center;
      font-size: 20px;
      margin-bottom: 14px;
    }
  }
}
@media (min-width: 768px) {
  .accordion {
    &--sub {
      .accordion__btn {
        align-items: center;
        justify-content: space-between;
      }
    }
    &__btn {
      h5 {
        line-height: 1.2;
      }
    }
    &__percents {
      margin-top: -5px;
      margin-bottom: -5px;
    }
  }
  .total {
    &__item {
      justify-content: space-between;
    }
  }
  .budget {
    &__field {
      input {
        font-size: 20px;
      }
    }
    &__renovation {
      h4 {
        text-align: right;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .accordion {
    &__percents {
      min-width: 55%;
      &-item {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
  .total {
    &__counters {
      margin-bottom: 23px;
    }
    .accordion__percents {
      min-width: 30%;
    }
  }
  .budget {
    &__item {
      padding-top: 30px;
      padding-bottom: 30px;
      &:nth-child(2) {
        padding-bottom: 50px;
      }
      &:nth-child(3) {
        padding-top: 50px;
      }
    }
    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
    }
    &__renovation {
      &:last-child {
        margin-bottom: 16px;
      }
      h4 {
        padding-right: 70px;
      }
    }
  }
}
@media (min-width: 1150px) {
  .accordion {
    &--sub,
    .budget {
      margin-top: -20px;
      margin-left: -30px;
      margin-right: -30px;
      margin-bottom: -28px;
    }
    &__btn {
      padding-right: 60px;
      padding-left: 30px;
      &:after {
        right: 30px;
      }
    }
    &__content {
      padding: 20px 30px;
    }
    &__percents {
      min-width: 50%;
      &-item {
        margin-left: 30px;
        margin-right: 30px;
      }
    }
  }
  .total {
    &__counters {
      margin-bottom: 38px;
    }
    &__brands {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .accordion__percents-item {
      margin-left: 15px;
    }
  }
  .one-third {
    min-width: 30%;
    max-width: 30%;
  }
  .budget {
    &__item {
      padding-top: 60px;
      padding-bottom: 60px;
      &:nth-child(2) {
        padding-top: 45px;
        padding-bottom: 45px;
      }
    }
    &__list-select {
      margin-top: 5px;
    }
    &__renovation {
      h4 {
        padding-right: 15px;
      }
    }
  }
}

/* contact */
.contact-head {
  text-align: center;
  &__headline {
    transform: translateY(-50%);
  }
  h2 {
    margin-bottom: 0;
  }
}
.contact-form {
  position: relative;
  padding-top: 45px;
  padding-bottom: 30px;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 7px;
    height: 3px;
    background-color: #fff;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-item {
      font-weight: 600;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      text-align: left;
      margin-bottom: 30px;
      .small {
        display: block;
        margin-bottom: 5px;
      }
    }
    &-icon {
      margin-right: 25px;
      width: 40px;
      text-align: center;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }
  &__row {
    margin-bottom: 13px;
  }
  input:not([type='submit']):not([type='file']),
  textarea,
  select {
    background-color: $white;
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    border-bottom: 2px solid $brown;
    color: $blue;
    &::-webkit-input-placeholder {
      opacity: 1;
      color: $blue;
    }
    &::-moz-placeholder {
      opacity: 1;
      color: $blue;
    }
    &:-ms-input-placeholder {
      opacity: 1;
      color: $blue;
    }
  }
  input:not([type='submit']),
  .contact-form__file,
  textarea,
  select {
    width: 100%;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    font-family: $monserrat;
    font-weight: 600;
  }
  input:not([type='submit']):not([type='upload']),
  .contact-form__file,
  select {
    height: 45px;
  }
  .contact-form__file {
    position: relative;
    background-color: $blue;
    background-image: url(../img/icons/upload.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    color: $white;
    input {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 45px;
      opacity: 0;
      cursor: pointer;
    }
    label {
      width: 100%;
      padding-right: 25px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      line-height: 45px;
    }
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../img/icons/select.svg);
    background-repeat: no-repeat;
    background-position: 96% 50%;
  }
  textarea {
    resize: none;
    height: 165px;
    padding-top: 13px;
    padding-bottom: 13px;
  }

}
@media (max-width: 1149px) {
  .contact-head {
    padding-bottom: 5px;
  }
  .contact-form {
    &__main-row {
      flex-direction: column;
    }
    &__form {
      max-width: 630px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media (max-width: 767px) {
  .contact-head {
    &__headline {
      max-width: 244px;
    }
  }
  .contact-form {
    padding-left: 30px;
    padding-right: 30px;
    &__row {
      flex-wrap: wrap;
      .col {
        width: 100%;
        flex: auto;
        & + .col {
          margin-top: 13px;
        }
      }
    }
    &__form {
      margin-top: 30px;
    }
    &__btn-wrap {
      text-align: center;
    }
    &__info {
      h2 {
        font-size: 24px;
        line-height: 30px;
      }
    }
    input:not([type='submit']),
    .contact-form__file,
    textarea,
    select {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
@media (min-width: 768px) {
  .contact-head {
    &__headline {
      max-width: 609px;
      margin-bottom: -20px;
    }
  }
  .contact-form {
    &__btn-wrap {
      text-align: right;
    }
    &__row {
      .col + .col {
        max-width: 50%;
      }
    }
    input:not([type='submit']),
    .contact-form__file,
    textarea,
    select {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .contact-head {
    &__container {
      max-width: 609px;
    }
  }
  .contact-form {
    &__form {
      margin-top: 55px;
    }
    &__info {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 20px;
      > * {
        flex: 1;
      }
      &-item {
        padding-left: 40px;
      }
    }
  }
}
@media (min-width: 1150px) {
  .contact-head {
    padding-bottom: 30px;
  }
  .contact-form {
    &__info {
      max-width: 291px;
      h2 {
        margin-bottom: 50px;
      }
    }
  }
}

/***** locates, custom-select, map *****/
.locates {
  padding-top: 50px;
  padding-bottom: 57px;
  position: relative;
  z-index: 2;
  &-head-container {
    max-width: 570px;
  }
  &__list {
    width: 205px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  &__state-address {
    position: relative;
  }
  &__loader {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    img {
      position: absolute;
      left: 50%;
      top: calc(50% - 30px);
      transform: translate(-50%, -50%);
    }
  }
}
.custom-select {
  position: relative;
  &__drop {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(249,245,243,0.85);
    box-shadow: 3px 3px 8px rgba(0,0,0,0.25);
    display: none;
    list-style: none;
    white-space: nowrap;
    z-index: 5;
  }
  &__btn {
    text-align: center;
    width: 100%;
    line-height: 1.5;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 600;
    font-size: 20px;
    &:hover {
      color: $brown;
    }
  }
  &__value {
    width: 100%;
    height: 30px;
    padding-right: 45px;
    border: none;
    border-bottom: 3px solid rgba(123,123,123,0.32);
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    color: $blue;
    text-align: center;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 10px;
      width: 30px;
      height: 30px;
      background: url(../img/icons/dropdown.svg) no-repeat 50% 50%;
      transition: all 0.3s;
      .active & {
        transform: rotate(180deg);
      }
    }
  }
}
.map-legend {
  margin-top: 30px;
  display: inline-block;
  &__item {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    img {
      position: relative;
      top: 2px;
    }
  }
  &__icon {
    margin-right: 10px;
  }
}
.js-select-content:not(:first-child) {
  display: none;
}
@media (max-width: 1149px) {
  .locates {
    &__row {
      flex-direction: column;
    }
    &-list {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 35px;
    }
    &__map {
      margin-top: 10px;
      text-align: center;
    }
  }
  .map-wrap {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  .custom-select {
    width: 100%;
    &__btn,
    &__value {
      font-size: 17px;
    }
    &.locates__list {
      width: 175px;
    }
  }
  .map-legend {
    text-align: left;
  }
}
@media (max-width: 479px) {
  .map-wrap {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media (max-width: 320px) {
  .custom-select {
    &__value {
      padding-right: 22px;
      &:after {
        right: 0;
      }
    }
  }
}
@media (min-width: 768px) {
  .map-legend {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .locates {
    &__btn {
      max-width: 160px;
      padding-left: 10px;
      padding-right: 10px;
    }
    &__state-address {
      .contact-form__info-item {
        width: 50%;
        float: left;
        align-items: flex-start;
      }
    }
  }
}
@media (min-width: 1150px) {
  .locates {
    &__row {
      justify-content: space-between;
      position: relative;
    }
    &__info {
      padding-top: 50px;
    }
  }
}

/***** brand, resources, portfolio ******/
.brand {
  &__select {
    margin-top: 8px;
    .custom-select__value {
      color: $brown;
      font-weight: 700;
      border-color: rgba(227,199,179,0.5);
    }
  }
  &__img {
    img {
      width: auto;
    }
  }
  .accordion__content {
    padding-bottom: 0;
  }
}

.resources {
  .accordion & {
    margin-top: 20px;
  }
  &__row {
    & + & {
      border-top: 2px solid $beige;
    }
    &:first-child {
      .accordion & {
        border-top: 2px solid $beige;
      }
    }
  }
  &__item {
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3333%;
    max-width: 74px;
    min-width: 74px;
    text-align: center;
  }
  &__icon {
    width: 63px;
    height: 62px;
    margin-bottom: 7px;
    background-color: #c4c4c4;
    img {
      width: 100%;
      height: 100%;
      max-width: inherit;
      object-fit: cover;
      transition: all 0.3s;
    }
    &:hover {
      img {
        transform: scale(2.8);
      }
    }
  }
  .row {
    flex-wrap: wrap;
  }
  .col {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    display: flex;
  }
  p:not(:last-child) {
    margin-bottom: 15px;
  }
}

.portfolio {
  margin-bottom: 10px;
  position: relative;
  &-slider {
    z-index: 3;
  }
  &__item {
    position: relative;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    height: 100%;
    .slick-center & {
      padding-top: 0;
      padding-bottom: 0;
    }
    img {
      transition: all 0.5s;
    }
    p {
      transition: all 0.5s;
      .slick-center & {
        font-size: 1.12em;
      }
    }
  }
  &__img {
    position: relative;
    flex: 1 1 auto;
    z-index: 2;
  }
  .slick-slider,
  .slick-list,
  .slick-track {
    height: 100%;
  }
  .slick-track {
    display: flex;
    transition: transform 0.5s !important;
  }
  .slick-slide {
    height: auto;
    transition: all 0.5s;
  }
  .slick-arrow {
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 20px;
    text-indent: -999999px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url(../img/icons/dropdown.svg) no-repeat 50% 50%;
    }
    &:hover,
    &:focus,
    &:active {
      outline: none !important;
    }
    &.slick-prev {
      transform: rotate(90deg);
    }
    &.slick-next {
      transform: rotate(270deg);
    }
  }
}
@media (max-width: 1149px) {
  .brand {
    .plus-list {
      margin-bottom: 15px;
    }
  }
}
@media (max-width: 767px) {
  .brand {
    &__text {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &__img {
      margin-bottom: 20px;
      img {
        height: 65px;
      }
    }
    &__select {
      margin-bottom: 17px;
    }
    .custom-select__btn,
    .custom-select__value {
      font-size: 15px;
    }
  }
  .resources {
    &__row {
      padding-top: 20px;
      padding-bottom: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        max-width: 450px;
        width: 100%;
      }
    }
    .row {
      max-width: 484px;
    }
    .col {
      min-width: 242px;
      max-width: 242px;
    }
  }
  .portfolio {
    &-wrap {
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 10px;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__pre-text {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 1;
      margin-top: 17px;
    }
    &__item {
      p {
        margin-top: 10px;
      }
    }
    .slick-arrow {
      bottom: 5px;
      &.slick-prev {
        left: 0;
      }
      &.slick-next {
        right: 0;
      }
    }
  }
}
@media (max-width: 560px) {
  .resources {
    &__row {
      p {
        max-width: 207px;
      }
    }
    .row {
      max-width: 242px;
    }
    .col {
      min-width: 100%;
    }
  }
  .portfolio {
    &-slider {
      padding-bottom: 10px;
    }
    &__item {
      padding-top: 26px;
      padding-bottom: 26px;
      padding-left: 11px;
      padding-right: 11px;
      width: 90px;
      .slick-center & {
        width: 122px;
      }
    }
  }
}
@media (min-width: 561px) {
  .portfolio {
    &__item {
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 41px;
      padding-bottom: 42px;
      .slick-center & {
        padding-left: 18px;
        padding-right: 18px;
      }
    }
  }
}
@media (min-width: 561px) and (max-width: 1149px) {
  .portfolio {
    &__item {
      width: 120px;
      .slick-center & {
        width: 181px;
      }
    }
  }
}
@media (min-width: 768px) {
  .brand {
    &__text {
      padding-bottom: 45px;
    }
    &__img {
      margin-bottom: 20px;
      img {
        height: 135px;
      }
    }
  }
  .resources {
    &__row {
      padding-top: 30px;
      padding-bottom: 20px;
    }
  }
  .portfolio {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 13px;
      height: 2px;
      background-color: $beige;
      border-radius: 2px;
    }
    &:after {
      content: "";
      position: absolute;
      height: 26px;
      bottom: 0;
      left: 50%;
      display: inline-block;
      transform: translateX(-50%);
      background-color: #fff;
      .light-bg & {
        background-color: $light;
      }
    }
    &-wrap {
      padding-top: 35px;
      padding-bottom: 35px;
      margin-top: 50px;
    }
    &__title {
      margin-bottom: 35px;
    }
    &__pre-text {
      display: none;
    }
    &__item {
      p {
        margin-top: 13px;
      }
    }
    .slick-arrow {
      top: 50%;
      transform: translateY(-50%);
      &.slick-prev {
        left: -40px;
      }
      &.slick-next {
        right: -40px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .resources {
    .col {
      max-width: 33.333%;
      min-width: 33.333%;
    }
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .brand {
    &__text {
      padding-top: 30px;
    }
    &__select {
      margin-bottom: 35px;
    }
  }
  .portfolio {
    margin-top: 15px;
    &:after {
      width: 181px;
    }
    &-slider {
      width: calc(100% - 46px);
      margin-left: auto;
      margin-right: auto;
    }
    &__headline {
      margin-top: 26px;
      span {
        padding-left: 60px;
        padding-right: 60px;
      }
    }
  }
}
@media (min-width: 992px) {
  .resources {
    .col {
      max-width: 25%;
      min-width: 25%;
    }
  }
}
@media (min-width: 1150px) {
  .brand {
    &__text {
      padding-top: 50px;
    }
  }
  .portfolio {
    margin-top: 50px;
    &:after {
      width: 194px;
    }
    .portfolio-wrap & {
      margin-top: 0;
    }
    &__headline {
      margin-top: 28px;
      span {
        padding-left: 70px;
        padding-right: 70px;
      }
    }
    &__item {
      width: 131px;
      .slick-center & {
        width: 194px;
      }
    }
    .slick-prev {
      &:hover {
        transform: rotate(90deg) scale(1.1);
      }
    }
    .slick-next {
      &:hover {
        transform: rotate(270deg) scale(1.1);
      }
    }
  }
}

/***** additionals *****/
.additionals {
  &__item {
    width: 100%;
    padding-top: 24px;
    display: inline-block;
    text-align: center;
    background-color: $white;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.25);
  }
  &__dropdown-content {
    padding: 40px 15px 0;
  }
  &__btn {
    transform: translateY(50%);
  }
  &__dropdown {
    margin-top: 37px;
  }
  h5 {
    display: inline-block;
    font-family: $monserrat;
    font-size: 16px;
    font-weight: 700;
  }
  img {
    margin-top: 8px;
    margin-bottom: 13px;
  }
}
@media (max-width: 1149px) {
  .additionals {
    padding-bottom: 12px;
    &__row {
      flex-direction: column;
      margin-top: 30px;
    }
    &__item {
      margin-bottom: 58px;
    }
    h5 {
      width: 100%;
    }
  }
}
@media (max-width: 767px) {
  .additionals {
    padding-top: 25px;
    &__row {
      margin-top: 25px;
    }
    &__item {
      width: calc(100% + 40px);
      margin-left: -20px;
      margin-right: -20px;
    }
    &__dropdown {
      margin-top: 40px;
    }
  }
}
@media (min-width: 768px) {
  .additionals {
    padding-top: 29px;
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .additionals__container {
    max-width: 513px;
  }
}
@media (min-width: 1150px) {
  .additionals {
    padding-bottom: 73px;
    h5 {
      max-width: 222px;
    }
  }
}

/***** Footer *****/
.footer {
  position: relative;
  background-color: $blue;
  color: $white;
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 9px;
    height: 2px;
    background-color: $white;
  }
  &__row {
    align-items: center;
  }
  &__info {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 24px;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 2px;
      height: 59px;
      margin-top: -30px;
      background-color: $white;
      border-radius: 2px;
    }
    a {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 0;
        bottom: 0;
        height: 2px;
        border-radius: 2px;
        background-color: $white;
        transition: all 0.3s;
      }
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }
  &__copy {
    position: relative;
    padding-top: 13px;
    text-align: center;
    font-size: 15px;
    font-family: $worksans;
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: 59px;
      height: 2px;
      border-radius: 2px;
      margin-left: -30px;
      background-color: $white;
    }
  }
  ul {
    list-style: none;
  }
}
.warranties {
  display: flex;
  align-items: center;
  justify-content: center;
  &__item {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (max-width: 1149px) {
  .footer {
    &__row {
      flex-wrap: wrap;
    }
    &__col {
      order: 2;
      &--warranties {
        order: 1;
        min-width: 100%;
      }
    }
  }

}
@media (max-width: 767px) {
  .footer {
    padding-top: 38px;
    padding-bottom: 17px;
    &__row {
      justify-content: center;
    }
    &__info {
      min-width: 200px;
      min-height: 59px;
      margin-top: 20px;
    }
    &__copy {
      margin-top: 32px;
    }
  }
  .warranties {
    img {
      max-height: 66px;
      width: auto;
    }
  }
}
@media (min-width: 768px){
  .footer {
    padding-bottom: 25px;
    &__row {
      justify-content: space-between;
    }
    &__info {
      margin-top: 13px;
    }
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .footer {
    padding-top: 48px;
    &__container {
      padding-left: 35px;
      padding-right: 35px;
    }
    &__copy {
      margin-top: 42px;
    }
  }
  .warranties {
    padding-bottom: 38px;
  }
}
@media (min-width: 1150px) {
  .footer {
    padding-top: 55px;
    &__container {
      padding-left: 75px;
      padding-right: 75px;
    }
    &__copy {
      margin-top: 50px;
    }
  }
}

/***** General *****/
.light-bg {
  background-color: $light;
}
.beige-bg {
  background-color: $beige;
}
.white-bg {
  background-color: $white;
}
.dark-bg {
  background-color: $blue;
  color: $white;
}